@model ReceivableSaveResource

@{
    ViewData["Title"] = "Portfolio Name";
}

<h1>@ViewData["Title"]</h1>

<h4>Client Name</h4>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-9">
        <form asp-action="QuotePayment" id="PaymentForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuoteId" />
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>Payment</h5>
                        <h5 class="fw-bold">@Model.QuoteNumber</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p>Quote Amount @Model.QuoteAmount.ToString("C2")</p>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Reference" class="control-label"></label>
                                <input asp-for="Reference" class="form-control text-uppercase" />
                                <span asp-validation-for="Reference" class="text-danger"></span>
                            </div>                        
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="ReceivableDate" class="control-label"></label>
                                <input type="date" asp-for="ReceivableDate" class="form-control" />
                                <span asp-validation-for="ReceivableDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="PaymentTypeId" class="control-label"></label>
                                <select asp-for="PaymentTypeId" class="form-control" asp-items="Model.PaymentTypeList"></select>
                            </div>
                        </div>                                        
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group" id="AmountDiv">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="BatchNumber" class="control-label"></label>
                                <input asp-for="BatchNumber" class="form-control text-uppercase" />
                                <span asp-validation-for="BatchNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-secondary" />
                    </div>
                </div>
            </div>
        </form>
        <div>
            <a asp-controller="Quotes" asp-action="Details" asp-route-id="@Model.QuoteId">Return</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var quoteAmount = '@Model.QuoteAmount';

        $('#Amount').keyup(function() {
          $(this).removeClass('border border-danger');
        });

        $('#PaymentForm').submit(function(e){
            e.preventDefault();
            e.stopPropagation();

            var amount = $('#Amount').val();

            if(amount > quoteAmount || amount < 1)
            {
                $('#Amount').addClass('border border-danger');
                $('#Amount').attr("aria-invalid","true");
                $('#Amount').focus();

                return false;
            }
        });

    </script>
}
