@model IEnumerable<BankResource>
@using Syncfusion.EJ2

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <ejs-button id="successbtn" cssClass="e-success" content="Create New"></ejs-button>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div class="control-section">
    <ejs-grid id="Grid" dataSource="ViewBag.datasource" toolbar="@(new List<string>() {"Search" })" allowPaging="true">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="Id" textAlign="Left"  visible="false"></e-grid-column>
            <e-grid-column field="Name" headerText="Name" width="50"></e-grid-column>
        </e-grid-columns>

    </ejs-grid>
</div>

<style>

    button {
        margin: 25px 5px 20px 20px;
    }
</style>