@model IEnumerable<ReceivableResource>

@if (Model.Any())
{
    <table id="tblPolicy" class="table">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Reference)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.ReceivableDate)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PaymentType)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Amount)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.BatchNumber)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Receivables" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Reference)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivableDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BatchNumber)
                    </td>
                    <td>
                        <a asp-controller="Receivables" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                        <a asp-controller="Receivables" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Records Found</caption>
}
