@model IEnumerable<FileTemplateResource>

@if (Model.Any())
{
    <table id="tlbFileTemplate" class="table">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.FileFormat)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Delimiter)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="FileTemplates" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileFormat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delimiter)
                    </td>
                    <td class="justify-content-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="FileTemplates" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i> Edit</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                                <li><a class="dropdown-item" asp-controller="FileTemplates" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Records Found</caption>

}
