@model InvoiceResource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
    </dl>
</div>

<div class="form-group">
    @await Component.InvokeAsync("Receivables", new { invoiceId = @Model.Id })
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
