@model IEnumerable<ClientDocumentResource>

@if (Model.Any())
{
    <table class="table ">
        <thead>
            <tr>
                <th><strong>Name</strong></th>
                <th><strong>Description</strong></th>
                <th><strong>File Type</strong></th>
                <th><strong>Document Date</strong></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
            <tr>
                <td>@file.Name</td>
                <td>@file.Description</td>
                <td>@file.FileType</td>
                <td>@file.DocumentDate</td>
                <td>
                    <a asp-controller="ClientDocuments" asp-action="DownloadFile" asp-route-id="@file.Id"><i class="fas fa-file-download"></i></a>
                    <a asp-controller="ClientDocuments" asp-action="Delete" asp-route-id="@file.Id"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Records Found</caption>
}