@model IEnumerable<InsurerBranchResource>

@{ 
    var insurerid = ViewBag.InsurerId;
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-controller="InsurerBranches" asp-action="Create" asp-route-insurerId="@insurerid"><i class="far fa-plus-square"></i></a>
    </div>
</div>

@if (Model.Any())
{
    <div class="form-group">
        <table id="tblInsurerBranches" class="table">
            <thead>
                <tr>
                    <th>
                        <strong>Name</strong>
                    </th>
                    <th>
                        <strong>Physical Address</strong>
                    </th>
                    <th>
                        <strong>Postal Address</strong>
                    </th>
                    <th>
                        <strong>City</strong>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="InsurerBranches" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                        </td>
                        <td>@item.PhysicalAddress</td>
                        <td>@item.PostalAddress</td>
                        <td>@item.City</td>
                        <td class="justify-content-end">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="InsurerBranches" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                                    <li><a class="dropdown-item" asp-controller="InsurerBranches" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Print</a></li>
                                    <li><a class="dropdown-item" asp-controller="InsurerBranches"asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <caption>No Records Found</caption>

}