@model PortfolioClientViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client Portfolio Client</h4>
<hr />
<div class="row">
    <form asp-action="AddToPortfolio">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="PortfolioId" type="hidden" />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.TitleId" class="control-label"></label>
                    <select asp-for="Client.TitleId" class="form-control" asp-items="@Model.Client.TitleList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.ClientTypeId" class="control-label"></label>
                    <select asp-for="Client.ClientTypeId" class="form-control" asp-items="@Model.Client.ClientTypeList"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.FirstName" class="control-label"></label>
                    <input asp-for="Client.FirstName" class="form-control" />
                    <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.MiddleName" class="control-label"></label>
                    <input asp-for="Client.MiddleName" class="form-control" />
                    <span asp-validation-for="Client.MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.LastName" class="control-label"></label>
                    <input asp-for="Client.LastName" class="form-control" />
                    <span asp-validation-for="Client.LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.BirthDate" class="control-label"></label>
                    <input asp-for="Client.BirthDate" class="form-control" />
                    <span asp-validation-for="Client.BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.GenderId" class="control-label"></label>
                    <select asp-for="Client.GenderId" class="form-control" asp-items="@Model.Client.GenderList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.IdNumber" class="control-label"></label>
                    <input asp-for="Client.IdNumber" class="form-control" />
                    <span asp-validation-for="Client.IdNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.MaritalStatusId" class="control-label"></label>
                    <select asp-for="Client.MaritalStatusId" class="form-control" asp-items="@Model.Client.MaritalStatusList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.CountryId" class="control-label"></label>
                    <select asp-for="Client.CountryId" class="form-control" asp-items="@Model.Client.CountryList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.OccupationId" class="control-label"></label>
                    <select asp-for="Client.OccupationId" class="form-control" asp-items="@Model.Client.OccupationList"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Client.Phone" class="control-label"></label>
                    <input asp-for="Client.Phone" class="form-control" />
                    <span asp-validation-for="Client.Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
