
@{ 

}

<div class="form-group">
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#motorModal">Motor</button>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="motorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="motorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="motorModalLabel">
                        Motor
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            @*<div class="form-group">
                                <label asp-for="RegNumber" class="control-label"></label>
                                <input asp-for="RegNumber" class="form-control" />
                                <span asp-validation-for="RegNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                    <label asp-for="BodyTypeId" class="control-label"></label>
                                    <select asp-for="BodyTypeId" class="form-control" asp-items="ViewBag.BodyTypeId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MotorModelId" class="control-label"></label>
                                    <select asp-for="MotorModelId" class="form-control" asp-items="ViewBag.MotorModelId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RegYear" class="control-label"></label>
                                    <input asp-for="RegYear" class="form-control" />
                                    <span asp-validation-for="RegYear" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DriverTypeId" class="control-label"></label>
                                    <select asp-for="DriverTypeId" class="form-control" asp-items="ViewBag.DriverTypeId"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EngineNumber" class="control-label"></label>
                                    <input asp-for="EngineNumber" class="form-control" />
                                    <span asp-validation-for="EngineNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ChassisNumber" class="control-label"></label>
                                    <input asp-for="ChassisNumber" class="form-control" />
                                    <span asp-validation-for="ChassisNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EngineCapacity" class="control-label"></label>
                                    <input asp-for="EngineCapacity" class="form-control" />
                                    <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Colour" class="control-label"></label>
                                    <input asp-for="Colour" class="form-control" />
                                    <span asp-validation-for="Colour" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MotorUseId" class="control-label"></label>
                                    <select asp-for="MotorUseId" class="form-control" asp-items="ViewBag.MotorUseId"></select>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="GreyImport" /> @Html.DisplayNameFor(model => model.GreyImport)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="SecurityFitting" /> @Html.DisplayNameFor(model => model.SecurityFitting)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="TrackingDevice" /> @Html.DisplayNameFor(model => model.TrackingDevice)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Immobiliser" /> @Html.DisplayNameFor(model => model.Immobiliser)
                                    </label>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Alarm" /> @Html.DisplayNameFor(model => model.Alarm)
                                    </label>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>