@model QuoteSaveResource
@{

}

<div class="d-flex bd-highlight mb-2">
    <div class="ms-auto p-2 bg-light">
        <h1>Quote</h1>
        <dl class="row">
            <dt class="col-5">
                Date:
            </dt>
            <dd class="col-7">
                @DateTime.Now.Date.ToString("MM/dd/yyyy")
            </dd>
            <dt class="col-5">
                Quote Number:
            </dt>
            <dd class="col-7">
                0
            </dd>
        </dl>
    </div>
</div>

<div class="d-md-flex justify-content-md-end">
    <div class="form-group">
        <input type="button" id="btnCreateQuote" class="btn btn-primary invisible" value="Create Quote" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ClientInfo" class="control-label"></label>
            <input asp-for="ClientInfo" id="ClientInfo" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="InternalInfo" class="control-label"></label>
            <input asp-for="InternalInfo" id="InternalInfo" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="QuoteStatusId" class="control-label"></label>
            <select asp-for="QuoteStatusId" id="QuoteStatusId" class="form-control" asp-items="Model.QuoteStatusList"></select>
        </div>
    </div>
</div>

<div class="p-2 bg-light mb-3">
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#allRiskModal">All Risks</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#contentModal">Contents</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#houseModal">House</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#motorModal">Motor</button>
</div>

<div class="row">
    <div class="form-group">
        <table id="tblCart" class="table invisible">
            <thead>
                <tr>
                    <th>
                        <strong>Description</strong>
                    </th>
                    <th>
                        <strong>Cover Type</strong>
                    </th>
                    <th>
                        <strong>Sum Insured</strong>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="form-group">
        <div id="ErrorMsg" class="invisible">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div>
    <!-- All Risks Modal -->
    <div class="modal fade" id="allRiskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="allRiskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="allRiskModalLabel">
                        All Risks
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>All Risks Details</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddAllRisk" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Content Modal -->
    <div class="modal fade" id="contentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="contentModalLabel">
                        Contents
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Content Details</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddContent" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <!-- House Modal -->
    <div class="modal fade" id="houseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="houseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="houseModalLabel">
                        House
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p>House Details</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddHouse" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ms-2">
    <!-- Motor Modal -->
    <div class="modal fade" id="motorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="motorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered needs-validation" role="document" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="motorModalLabel">
                        Motor Details
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Motor.RegNumber" class="control-label">Registration Number</label>
                                <input asp-for="Motor.RegNumber" id="RegNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Motor.BodyTypeId" class="control-label">Body Type</label>
                                <select asp-for="Motor.BodyTypeId" id="BodyTypeId" class="form-control" asp-items="Model.BodyTypeList"></select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Motor.Colour" class="control-label">Colour</label>
                                <input asp-for="Motor.Colour" id="Colour" class="form-control" />
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="MotorMakeId" class="control-label">Make</label>
                                <select asp-for="MotorMakeId" id="MotorMakeId" class="form-control" asp-items="Model.MotorMakeList"></select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Motor.MotorModelId" class="control-label">Model</label>
                                <select asp-for="Motor.MotorModelId" id="MotorModelId" class="form-control" asp-items="Model.MotorModelList"></select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Motor.RegYear" class="control-label">Year</label>
                                <input asp-for="Motor.RegYear" id="RegYear" class="form-control" />
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Motor.DriverTypeId" class="control-label">Driver Type</label>
                            <select asp-for="Motor.DriverTypeId" id="DriverTypeId" class="form-control" asp-items="Model.DriverTypeList"></select>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Motor.EngineNumber" class="control-label">Engine Number</label>
                                    <input asp-for="Motor.EngineNumber" id="EngineNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Motor.ChassisNumber" class="control-label">Chassis Number</label>
                                    <input asp-for="Motor.ChassisNumber" id="ChassisNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Motor.EngineCapacity" class="control-label">Engine Capacity</label>
                                    <input asp-for="Motor.EngineCapacity" id="EngineCapacity" class="form-control" />
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Motor.MotorUseId" class="control-label">Motor Use</label>
                                    <select asp-for="Motor.MotorUseId" id="MotorUseId" class="form-control" asp-items="Model.MotorUseList"></select>
                                </div>
                            </div>
                            <div class="col-6 border bg-light mb-3 py-2">
                                <div class="row">
                                    <div class="col-6 me-0">
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" asp-for="Motor.GreyImport" type="checkbox" id="GreyImport">
                                                <label class="form-check-label" asp-for="Motor.GreyImport">Grey Import</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" asp-for="Motor.SecurityFitting" type="checkbox" id="SecurityFitting">
                                                <label class="form-check-label" asp-for="Motor.SecurityFitting">SecurityFitting</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" asp-for="Motor.TrackingDevice" type="checkbox" id="TrackingDevice">
                                                <label class="form-check-label" asp-for="Motor.TrackingDevice">Tracking Device</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 me-auto">
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" asp-for="Motor.Immobiliser" type="checkbox" id="Immobiliser">
                                                <label class="form-check-label" asp-for="Motor.Immobiliser">Immobiliser</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" asp-for="Motor.Alarm" type="checkbox" id="Alarm">
                                                <label class="form-check-label" asp-for="Motor.Alarm">Alarm</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="container border bg-light p-3">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="SumInsured" class="control-label"></label>
                                        <input asp-for="SumInsured" id="SumInsured" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="CoverTypeId" class="control-label"></label>
                                        <select asp-for="CoverTypeId" id="CoverTypeId" class="form-control" asp-items="Model.CoverTypelList"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary" onclick="LoadMotors()">Save this record</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var portfolioClientId = '@Model.PortfolioClientId';
        var clientId = '@Model.ClientId';
        var allRisks = [];
        var contents = [];
        var houses = [];
        var motors = [];
        var quoteItems = [];
        var quoteId = uuidv4();

        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $(document).ready(function () {
            //  LoadBankAccount(selectedklientId);
        });

        $("#MotorMakeId").change(function () {
            var selectedmotorMakeId = $("#MotorMakeId option:selected").val();

            $.ajax({
                url: '@(Url.Action("GetMotorModels", "MotorModels"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { motorMakeId: selectedmotorMakeId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (models) {

                    $("#MotorModelId").empty();   // clear before appending new list
                    $.each(models, function (index, model) {
                        $('#MotorModelId').append($('<option></option>').val(model.id).html(model.name));
                    });
                }
            });
        });        $("#MotorMakeId").change(function () {
            var selectedmotorMakeId = $("#MotorMakeId option:selected").val();

            $.ajax({
                url: '@(Url.Action("GetMotorModels", "MotorModels"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { motorMakeId: selectedmotorMakeId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (models) {

                    $("#MotorModelId").empty();   // clear before appending new list
                    $.each(models, function (index, model) {
                        $('#MotorModelId').append($('<option></option>').val(model.id).html(model.name));
                    });
                }
            });
        });

        function LoadMotors() {
            var clientRiskId = uuidv4();
            var description = $('#RegYear').val() + ' ' + $('#MotorMakeId option:selected').text() + ' ' + $('#RegNumber').val();
            var sumInsured = $('#SumInsured').val();
            var coverType = $('#CoverTypeId option:selected').text();

            //  1. Build Motor Array to match model class Motor
            var motor = {
                Id: clientRiskId,
                RegNumber: $('#RegNumber').val(),
                BodyTypeId: $('#BodyTypeId option:selected').val(),
                MotorModelId: $('#MotorModelId option:selected').val(),
                RegYear: $('#RegYear').val(),
                DriverTypeId: $('#DriverTypeId option:selected').val(),
                EngineNumber: $('#EngineNumber').val(),
                ChassisNumber: $('#ChassisNumber').val(),
                EngineCapacity: $('#EngineCapacity').val(),
                Colour: $('#Colour').val(),
                MotorUseId: $('#MotorUseId option:selected').val(),
                GreyImport: $('#GreyImport').val(),
                SecurityFitting: $('#SecurityFitting').val(),
                TrackingDevice: $('#TrackingDevice').val(),
                Immobiliser: $('#Immobiliser').val(),
                Alarm: $('#Alarm').val()
            };

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                InsurerId: null,
                CoverTypeId: $('#CoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            motors.push(motor);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        $('#btnCreateQuote').click(function () {
            var cartItems = $('#tblCart tbody tr');
            var numCart = cartItems.length;

            $("#ErrorMsg").empty();

            if (numCart == 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Cart is empty</label>');
                return;
            };
            $("#ErrorMsg").removeClass("text-danger visible").addClass("invisible");

            GenerateQuote();
        });

        function ResetBtnCreateQuote() {
            var cartItems = $('#tblCart tbody tr').length;
            if (cartItems == 0) {
                $('#tblCart').removeClass("table visible").addClass("table invisible");
                $('#btnCreateQuote').removeClass("btn btn-primary visible").addClass("btn btn-primary invisible");
            } else {
                $('#btnCreateQuote').removeClass("btn btn-primary invisible").addClass("btn btn-primary visible");
                $('#tblCart').removeClass("table invisible").addClass("table visible");
            }
        }

        function AddToCart(clientRiskId, description, coverType, sumInsured) {

            $("#ErrorMsg").empty();
            var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
            if (cartItem.length > 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Item already in Cart</label>');
                $("#ErrorMsg").delay(3000).queue(function (n) {
                    $(this).removeClass("text-danger visible").addClass("invisible");
                    n();
                });
                return;
            }

            cartItem = $('#tblCart tbody')
                .append($('<tr>')
                    .attr({ 'data-client-risk-id': clientRiskId })
                    .append($('<td>').html(description))
                    .attr({ 'data-description': description })
                    .append($('<td>').html(coverType))
                    .append($('<td>').html(sumInsured))
                    .append($('<td>')
                        .append($('<a>')
                            .attr('href', '#')
                            .append($('<span>&minus;</span>').addClass('btn btn-danger btn-sm float-right'))
                            .click(function () {
                                // Delete Cart from Database: DELETE /api/Carts/{id}
                                DeleteCart(clientRiskId);
                        })
                    )
                )
            );
            ResetBtnCreateQuote();
        }

        function GenerateQuote() {

            //  Build Quote Arrat to match model class Quote
            var quote = {
                Id: quoteId,
                PortfolioClientId: portfolioClientId,
                QuoteNumber: 0,
                QuoteDate: '@DateTime.Now',
                QuoteStatusId: $('#QuoteStatusId option:selected').val(),
                ClientInfo: $('#ClientInfo').val(),
                InternalInfo: $('#InternalInfo').val()
            };

            if (motors && quoteItems) {

                QuoteObject = {
                    ClientId: clientId,
                    Quote: quote,
                    QuoteItems: quoteItems,
                    AllRisks: allRisks,
                    Contents: contents,
                    Houses: houses,
                    Motors: motors
                }

                $.ajax({
                    url: '@(Url.Action("PostQuote"))',
                    type: "POST",
                    dataType: "json",
                    data: { quoteObject: QuoteObject },
                    error: function (xhr, status, error) {
                        alert("An error has occured." + error);
                    },
                    success: function (data) {
                        // Do something here.
                        window.location = '/Quotes/Create/?portfolioClientId=' + portfolioClientId;
                    }
                });
            }
        }
    </script>
}
