@model QuoteSaveResource

<div class="col-md-4 offset-md-8 bd-highlight mb-3">
    <div class="mr-auto p-2 bg-light">
        <h1>Quote</h1>
        <dl class="row">
            <dt class="col-6">
                Date:
            </dt>
            <dd class="col-6">
                @DateTime.Now.Date.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-6">
                Quote Number:
            </dt>
            <dd class="col-6">
                0
            </dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-md-end">
    <div class="form-group">
        <input type="button" id="btnCreateQuote" class="btn btn-primary invisible" value="Create Quote" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ClientInfo" class="control-label"></label>
            <input asp-for="ClientInfo" id="ClientInfo" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="InternalInfo" class="control-label"></label>
            <input asp-for="InternalInfo" id="InternalInfo" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="QuoteStatusId" class="control-label"></label>
            <select asp-for="QuoteStatusId" id="QuoteStatusId" class="form-control" asp-items="Model.QuoteStatusList"></select>
        </div>
    </div>
</div>

<div class="p-2 bg-light mb-3">
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#allRiskModal">All Risks</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#contentModal">Contents</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#houseModal">House</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#motorModal">Motor</button>
</div>

<div class="row">
    <div class="form-group">
        <table id="tblCart" class="table invisible">
            <thead>
                <tr>
                    <th>
                        <strong>Description</strong>
                    </th>
                    <th>
                        <strong>Cover Type</strong>
                    </th>
                    <th>
                        <strong>Sum Insured</strong>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="form-group">
        <div id="ErrorMsg" class="invisible">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="ms-2">
    <!-- All Risks Modal -->
    <div class="modal fade" id="allRiskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="allRiskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="allRiskModalLabel">
                        All Risks
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Description</label>
                                <input asp-for="Description" id="Description" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="container border bg-light p-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="AllRiskSumInsured" class="control-label"></label>
                                    <input asp-for="AllRiskSumInsured" id="AllRiskSumInsured" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="AllRiskCoverTypeId" class="control-label"></label>
                                    <select asp-for="AllRiskCoverTypeId" id="AllRiskCoverTypeId" class="form-control" asp-items="Model.CoverTypelList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddAllRisk" class="btn btn-primary" onclick="LoadAllRisks()">Save this record</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ms-2">
    <!-- Content Modal -->
    <div class="modal fade" id="contentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="contentModalLabel">
                        Contents
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Content.Name" class="control-label">Name</label>
                                <input asp-for="Content.Name" id="ContentName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Content.PhysicalAddress" class="control-label">Physical Address</label>
                                <input asp-for="Content.PhysicalAddress" id="ContentPhysicalAddress" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Content.ResidenceTypeId" class="control-label">Residence Type</label>
                                <select asp-for="Content.ResidenceTypeId" id="ContentResidenceTypeId" class="form-control" asp-items="Model.ResidenceTypeList"></select>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Content.ResidenceUseId" class="control-label">Residence Type</label>
                                <select asp-for="Content.ResidenceUseId" id="ContentResidenceUseId" class="form-control" asp-items="Model.ResidenceUseList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Content.WallTypeId" class="control-label">Wall Type</label>
                                <select asp-for="Content.WallTypeId" id="ContentWallTypeId" class="form-control" asp-items="Model.WallTypeList"></select>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Content.RoofTypeId" class="control-label">Roof Type</label>
                                <select asp-for="Content.RoofTypeId" id="ContentRoofTypeId" class="form-control" asp-items="Model.RoofTypeList"></select>
                            </div>
                        </div>
                    </div>                    
                    <div class="container border bg-light p-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="ContentSumInsured" class="control-label"></label>
                                    <input asp-for="ContentSumInsured" id="ContentSumInsured" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="ContentCoverTypeId" class="control-label"></label>
                                    <select asp-for="ContentCoverTypeId" id="ContentCoverTypeId" class="form-control" asp-items="Model.CoverTypelList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnContentRisk" class="btn btn-primary" onclick="LoadContents()">Save this record</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ms-2">
    <!-- House Modal -->
    <div class="modal fade" id="houseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="houseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="houseModalLabel">
                        House
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="House.PhysicalAddress" class="control-label">Physical Address</label>
                                <input asp-for="House.PhysicalAddress" id="HousePhysicalAddress" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="House.ResidenceTypeId" class="control-label">Residence Type</label>
                                <select asp-for="House.ResidenceTypeId" id="HouseResidenceTypeId" class="form-control" asp-items="Model.ResidenceTypeList"></select>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="House.HouseConditionId" class="control-label">House Condition</label>
                                <select asp-for="House.HouseConditionId" id="HouseConditionId" class="form-control" asp-items="Model.HouseConditionList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="House.WallTypeId" class="control-label">Wall Type</label>
                                <select asp-for="House.WallTypeId" id="HouseWallTypeId" class="form-control" asp-items="Model.WallTypeList"></select>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="House.RoofTypeId" class="control-label">Roof Type</label>
                                <select asp-for="House.RoofTypeId" id="HouseRoofTypeId" class="form-control" asp-items="Model.RoofTypeList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 border bg-light mb-3 py-2">
                        <div class="row gx-6">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" asp-for="House.BurglarAlarm" type="checkbox" id="BurglarAlarm">
                                        <label class="form-check-label" asp-for="House.BurglarAlarm">Burglar Alarm</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" asp-for="House.BurglarBars" type="checkbox" id="BurglarBars">
                                        <label class="form-check-label" asp-for="House.BurglarBars">Alarm</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="container border bg-light p-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="HouseSumInsured" class="control-label"></label>
                                    <input asp-for="HouseSumInsured" id="HouseSumInsured" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="HouseCoverTypeId" class="control-label"></label>
                                    <select asp-for="HouseCoverTypeId" id="HouseCoverTypeId" class="form-control" asp-items="Model.CoverTypelList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnHouseRisk" class="btn btn-primary" onclick="LoadHouses()">Save this record</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ms-2">
    <!-- Motor Modal -->
    <div class="modal fade" id="motorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="motorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered needs-validation" role="document" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="motorModalLabel">
                        Motor Details
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Motor.RegNumber" class="control-label">Registration Number</label>
                                <input asp-for="Motor.RegNumber" id="RegNumber" class="form-control text-uppercase" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Motor.BodyTypeId" class="control-label">Body Type</label>
                                <select asp-for="Motor.BodyTypeId" id="BodyTypeId" class="form-control" asp-items="Model.BodyTypeList"></select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Motor.Colour" class="control-label">Colour</label>
                                <input asp-for="Motor.Colour" id="Colour" class="form-control" />
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="MotorMakeId" class="control-label">Make</label>
                                <select asp-for="MotorMakeId" id="MotorMakeId" class="form-control" asp-items="Model.MotorMakeList"></select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Motor.MotorModelId" class="control-label">Model</label>
                                <select asp-for="Motor.MotorModelId" id="MotorModelId" class="form-control" asp-items="Model.MotorModelList"></select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Motor.RegYear" class="control-label">Year</label>
                                <input asp-for="Motor.RegYear" id="RegYear" class="form-control" />
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Motor.DriverTypeId" class="control-label">Driver Type</label>
                                <select asp-for="Motor.DriverTypeId" id="DriverTypeId" class="form-control" asp-items="Model.DriverTypeList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Motor.EngineNumber" class="control-label">Engine Number</label>
                                <input asp-for="Motor.EngineNumber" id="EngineNumber" class="form-control text-uppercase" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Motor.ChassisNumber" class="control-label">Chassis Number</label>
                                <input asp-for="Motor.ChassisNumber" id="ChassisNumber" class="form-control text-uppercase" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Motor.EngineCapacity" class="control-label">Engine Capacity</label>
                                <input asp-for="Motor.EngineCapacity" id="EngineCapacity" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Motor.MotorUseId" class="control-label">Motor Use</label>
                                <select asp-for="Motor.MotorUseId" id="MotorUseId" class="form-control" asp-items="Model.MotorUseList"></select>
                            </div>
                        </div>
                        <div class="col-6 border bg-light mb-3 py-2">
                            <div class="row gx-6">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" asp-for="Motor.GreyImport" type="checkbox" id="GreyImport">
                                            <label class="form-check-label" asp-for="Motor.GreyImport">Grey Import</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline form-check-inline form-switch">
                                            <input class="form-check-input" asp-for="Motor.SecurityFitting" type="checkbox" id="SecurityFitting">
                                            <label class="form-check-label" asp-for="Motor.SecurityFitting">Security Fitting</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline form-switch">
                                            <input class="form-check-input" asp-for="Motor.TrackingDevice" type="checkbox" id="TrackingDevice">
                                            <label class="form-check-label" asp-for="Motor.TrackingDevice">Tracking Device</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <div class="form-check form-check-inline form-switch">
                                            <input class="form-check-input" asp-for="Motor.Immobiliser" type="checkbox" id="Immobiliser">
                                            <label class="form-check-label" asp-for="Motor.Immobiliser">Immobiliser</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline form-switch ">
                                            <input class="form-check-input" asp-for="Motor.Alarm" type="checkbox" id="Alarm">
                                            <label class="form-check-label" asp-for="Motor.Alarm">Alarm</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container border bg-light p-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="MotorSumInsured" class="control-label"></label>
                                    <input asp-for="MotorSumInsured" id="MotorSumInsured" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="MotorCoverTypeId" class="control-label"></label>
                                    <select asp-for="MotorCoverTypeId" id="MotorCoverTypeId" class="form-control" asp-items="Model.CoverTypelList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary" onclick="LoadMotors()">Save this record</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var portfolioClientId = '@Model.PortfolioClientId';
        var clientId = '@Model.ClientId';
        var allRisks = [];
        var contents = [];
        var houses = [];
        var motors = [];
        var quoteItems = [];
        var riskItems = [];
        var quoteId = uuidv4();

        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $(document).ready(function () {
            //  LoadBankAccount(selectedklientId);
        });

        $("#MotorMakeId").change(function () {
            var selectedMotorMakeId = $("#MotorMakeId option:selected").val();

            $.ajax({
                url: '@(Url.Action("GetMotorModels", "MotorModels"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { motorMakeId: selectedMotorMakeId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (models) {

                    $("#MotorModelId").empty();   // clear before appending new list
                    $.each(models, function (index, model) {
                        $('#MotorModelId').append($('<option></option>').val(model.id).html(model.name));
                    });
                }
            });
        });

        function LoadAllRisks() {
            var clientRiskId = uuidv4();
            var description = $('#Description').val();
            var sumInsured = $('#AllRiskSumInsured').val();
            var coverType = $('#AllRiskCoverTypeId option:selected').text();
            var riskItemId = uuidv4();

            //  1. Build RiskItem Array to match model class RiskItem
            var riskItem = {
                Id: riskItemId,
                Description: description
            }

            //  2. Build AllRisk Array to match model class AllRisk
            var allRisk = {
                Id: clientRiskId,
                RiskItemid: riskItemId
            }
            //  3. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#AllRiskCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  4. Append to the Arrays
            allRisks.push(allRisk);
            quoteItems.push(quoteItem);
            riskItems.push(riskItem);
            
            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadContents() {
            var clientRiskId = uuidv4();
            var description = $('#ContentName').val();
            var sumInsured = $('#ContentSumInsured').val();
            var coverType = $('#ContentCoverTypeId option:selected').text();

            //  1. Build Content Array to match model class Content
            var content = {
                Id: clientRiskId,
                RoofTypeId: $('#ContentRoofTypeId option:selected').val(),
                WallTypeId: $('#ContentWallTypeId option:selected').val(),
                Name: description,
                PhysicalAddress: $('#ContentPhysicalAddress').val(),
                ResidenceTypeId: $('#ContentResidenceTypeId option:selected').val(),
                ResidenceUseId: $('#ContentResidenceUseId option:selected').val()                
            }

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#ContentCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            contents.push(content);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadHouses() {
            var clientRiskId = uuidv4();
            var description = $('#HousePhysicalAddress').val();
            var sumInsured = $('#HouseSumInsured').val();
            var coverType = $('#HouseCoverTypeId option:selected').text();

            //  1. Build House Array to match model class House
            var house = {
                Id: clientRiskId,
                PhysicalAddress: description,
                ResidenceTypeId: $('#HouseResidenceTypeId option:selected').val(),
                RoofTypeId: $('#HouseRoofTypeId option:selected').val(),
                WallTypeId: $('#HouseWallTypeId option:selected').val(),
                HouseConditionId: $('#HouseConditionId option:selected').val(),
                BurglarAlarm: $('#BurglarAlarm').val(),
                BurglarBars: $('#BurglarAlarm').val()               
            }

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#HouseCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            houses.push(house);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadMotors() {
            var clientRiskId = uuidv4();
            var description = $('#RegYear').val() + ' ' + $('#MotorMakeId option:selected').text() + ' ' + $('#RegNumber').val();
            var sumInsured = $('#MotorSumInsured').val();
            var coverType = $('#MotorCoverTypeId option:selected').text();

            //  1. Build Motor Array to match model class Motor
            var motor = {
                Id: clientRiskId,
                RegNumber: $('#RegNumber').val(),
                BodyTypeId: $('#BodyTypeId option:selected').val(),
                MotorModelId: $('#MotorModelId option:selected').val(),
                RegYear: $('#RegYear').val(),
                DriverTypeId: $('#DriverTypeId option:selected').val(),
                EngineNumber: $('#EngineNumber').val(),
                ChassisNumber: $('#ChassisNumber').val(),
                EngineCapacity: $('#EngineCapacity').val(),
                Colour: $('#Colour').val(),
                MotorUseId: $('#MotorUseId option:selected').val(),
                GreyImport: $('#GreyImport').val(),
                SecurityFitting: $('#SecurityFitting').val(),
                TrackingDevice: $('#TrackingDevice').val(),
                Immobiliser: $('#Immobiliser').val(),
                Alarm: $('#Alarm').val()
            };

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#MotorCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            motors.push(motor);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        $('#btnCreateQuote').click(function () {
            var cartItems = $('#tblCart tbody tr');
            var numCart = cartItems.length;

            $("#ErrorMsg").empty();

            if (numCart == 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Cart is empty</label>');
                return;
            };
            $("#ErrorMsg").removeClass("text-danger visible").addClass("invisible");

            GenerateQuote();
        });

        function ResetBtnCreateQuote() {
            var cartItems = $('#tblCart tbody tr').length;
            if (cartItems == 0) {
                $('#tblCart').removeClass("visible").addClass("invisible");
                $('#btnCreateQuote').removeClass("visible").addClass("invisible");
            } else {
                $('#btnCreateQuote').removeClass("invisible").addClass("visible");
                $('#tblCart').removeClass("invisible").addClass("table visible");
            }
        }
        
        function AddToCart(clientRiskId, description, coverType, sumInsured) {

            $("#ErrorMsg").empty();
            var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
            if (cartItem.length > 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Item already in Cart</label>');
                $("#ErrorMsg").delay(3000).queue(function (n) {
                    $(this).removeClass("text-danger visible").addClass("invisible");
                    n();
                });
                return;
            }

            cartItem = $('#tblCart tbody')
                .append($('<tr>')
                    .attr({ 'data-client-risk-id': clientRiskId })
                    .append($('<td>').html(description))
                    .attr({ 'data-description': description })
                    .append($('<td>').html(coverType))
                    .append($('<td>').html(sumInsured))
                    .append($('<td>')
                        .append($('<a>')
                            .attr('href', '#')
                            .append($('<span>&minus;</span>').addClass('btn btn-danger btn-sm float-right'))
                            .click(function () {
                                // Delete Cart from Database: DELETE /api/Carts/{id}
                                DeleteCart(clientRiskId);
                        })
                    )
                )
            );
            ResetBtnCreateQuote();
        }

        function GenerateQuote() {

            //  Build Quote Arrat to match model class Quote
            var quote = {
                Id: quoteId,
                PortfolioClientId: portfolioClientId,
                QuoteNumber: 0,
                QuoteDate: '@DateTime.Now',
                QuoteStatusId: $('#QuoteStatusId option:selected').val(),
                InsurerId: null,
                ClientInfo: $('#ClientInfo').val(),
                InternalInfo: $('#InternalInfo').val()
            };

            if (quoteItems) {

                QuoteObject = {
                    ClientId: clientId,
                    Quote: quote,
                    QuoteItems: quoteItems,
                    AllRisks: allRisks,
                    Contents: contents,
                    Houses: houses,
                    Motors: motors,
                    RiskItems: riskItems
                }

                $.ajax({
                    url: '@(Url.Action("PostQuote"))',
                    type: "POST",
                    dataType: "json",
                    data: { quoteObject: QuoteObject },
                    error: function (xhr, status, error) {
                        alert("An error has occured." + error);
                    },
                    success: function (data) {
                        // Empty tblCart.
                        //location.reload();
                        window.location.reload();
                        //window.location = '/Quotes/Create/?portfolioClientId=' + portfolioClientId;
                    }
                });
            }
        }

        function DeleteCart(clientRiskId) {
            
            if (clientRiskId) {
                var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
                cartItem.remove();

                if (allRisks.length != 0) {
                    allRisks = allRisks.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (contents.length != 0) {
                    contents = contents.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (houses.length != 0) {
                    contents = houses.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (motors.length != 0) {
                    motors = motors.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }
            }
            ResetBtnCreateQuote();
        }
    </script>
}
