@model QuoteSaveResource

@{ 
    ViewData["Title"] = Model.PortfolioName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var quoteDate = @DateTime.Now.Date.ToString("dd/MM/yyyy");
    var FullName = String.IsNullOrEmpty(Model.Client.FirstName) ? Model.Client.LastName : Model.Client.FirstName + " " + Model.Client.LastName;
}

<h1>@ViewData["Title"]</h1>
<h4>@FullName</h4>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-9">
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>New Quote</h5>
                    <div>
                        <input type="button" id="btnCreateQuote" class="btn btn-outline-secondary btn-sm text-muted invisible" value="Create Quote" />
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Date</label>
                        <input value="@quoteDate" class="form-control" readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ClientInfo" class="control-label"></label>
                            <input asp-for="ClientInfo" id="ClientInfo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="InternalInfo" class="control-label"></label>
                            <input asp-for="InternalInfo" id="InternalInfo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="QuoteStatusId" class="control-label"></label>
                            <select asp-for="QuoteStatusId" id="QuoteStatusId" class="form-control" asp-items="@Model.QuoteStatusList"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center py-2 gap-2">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#allRiskModal">All Risks</button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#buildingModal">Building</button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#contentModal">Contents</button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#houseModal">House</button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#motorModal">Motor</button>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#travelModal">Travel</button>
                </div>
            </div>

        </div>
        <a asp-controller="Quotes" asp-action="PortfolioClientQuotes" asp-route-portfolioClientId="@Model.PortfolioClientId">Return</a>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <table id="tblCart" class="table table-sm mb-0 invisible">
                        <thead>
                            <tr>
                                <th>
                                    <strong>Description</strong>
                                </th>
                                <th>
                                    <strong>Cover Type</strong>
                                </th>
                                <th>
                                    <strong>Sum Insured</strong>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="ErrorMsg" class="mt-3 invisible">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flexbox container for aligning the toasts -->
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">

  <!-- Then put toasts within -->
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

<!-- All Risks Modal -->
<div class="modal fade" id="allRiskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="allRiskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="allRiskModalLabel">
                    All Risks
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Description</label>
                            <input asp-for="Description" id="Description" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="AllRiskSumInsured" class="control-label"></label>
                                <input asp-for="AllRiskSumInsured" id="AllRiskSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="AllRiskCoverTypeId" class="control-label"></label>
                                <select asp-for="AllRiskCoverTypeId" id="AllRiskCoverTypeId" class="form-control" asp-items="@Model.CoverTypeList" ></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddAllRisk" class="btn btn-primary" onclick="LoadAllRisks()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- Building Modal -->
<div class="modal fade" id="buildingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="buildingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="buildingModalLabel">
                    Building (Homeowners)
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Building.PhysicalAddress" class="control-label">Physical Address</label>
                            <input asp-for="Building.PhysicalAddress" id="BuildingPhysicalAddress" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Building.BondHolder" class="control-label">Bond Holder</label>
                            <input asp-for="Building.BondHolder" id="BuildingBondHolder" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Building.ResidenceTypeId" class="control-label">Residence Type</label>
                            <select asp-for="Building.ResidenceTypeId" id="BuildingResidenceTypeId" class="form-control" asp-items="@Model.ResidenceTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Building.ResidenceUseId" class="control-label">Residence Use</label>
                            <select asp-for="Building.ResidenceUseId" id="BuildingResidenceUseId" class="form-control" asp-items="@Model.ResidenceUseList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Building.BuildingConditionId" class="control-label">Building Condition</label>
                            <select asp-for="Building.BuildingConditionId" id="BuildingConditionId" class="form-control" asp-items="@Model.BuildingConditionList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Building.WallTypeId" class="control-label">Wall Type</label>
                            <select asp-for="Building.WallTypeId" id="BuildingWallTypeId" class="form-control" asp-items="@Model.WallTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Building.RoofTypeId" class="control-label">Roof Type</label>
                            <select asp-for="Building.RoofTypeId" id="BuildingRoofTypeId" class="form-control" asp-items="@Model.RoofTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-check form-check-inline form-switch">
                                <input class="form-check-input" asp-for="Building.IsUnoccupied" type="checkbox" id="BuildingIsUnoccupied">
                                <label class="form-check-label" asp-for="Building.IsUnoccupied">Is Unoccupied?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Building.UnoccupancyPeriod" class="control-label">Unoccupancy Period</label>
                            <input asp-for="Building.UnoccupancyPeriod" id="BuildingUnoccupancyPeriod" value="0" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row border bg-light mb-3 p-3 mx-auto">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsBurglarAlarm" type="checkbox" id="BuildingIsBurglarAlarm">
                                    <label class="form-check-label" asp-for="Building.IsBurglarAlarm">Burglar Alarm?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsBurglarBars" type="checkbox" id="BuildingIsBurglarBars">
                                    <label class="form-check-label" asp-for="Building.IsBurglarBars">Burglar Bars?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsKeepDogs" type="checkbox" id="BuildingIsKeepDogs">
                                    <label class="form-check-label" asp-for="Building.IsKeepDogs">Keep Dogs?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsSecurityGates" type="checkbox" id="BuildingIsSecurityGates">
                                    <label class="form-check-label" asp-for="Building.IsSecurityGates">Security Gates?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsElectronicGate" type="checkbox" id="BuildingIsElectronicGate">
                                    <label class="form-check-label" asp-for="Building.IsElectronicGate">Electronic Gate?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsElectricFence" type="checkbox" id="BuildingIsElectricFence">
                                    <label class="form-check-label" asp-for="Building.IsElectricFence">Electric Fence?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsRentedOut" type="checkbox" id="BuildingIsRentedOut">
                                    <label class="form-check-label" asp-for="Building.IsRentedOut">Rented Out?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsUseHouseSitters" type="checkbox" id="BuildingIsUseHouseSitters">
                                    <label class="form-check-label" asp-for="Building.IsUseHouseSitters">House Sitters?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsSecurityComplex" type="checkbox" id="BuildingIsSecurityComplex">
                                    <label class="form-check-label" asp-for="Building.IsSecurityComplex">Security Complex?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsRetirementVillage" type="checkbox" id="BuildingIsRetirementVillage">
                                    <label class="form-check-label" asp-for="Building.IsRetirementVillage">Retirement Village?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsAdjacentOpenArea" type="checkbox" id="BuildingIsAdjacentOpenArea">
                                    <label class="form-check-label" asp-for="Building.IsAdjacentOpenArea">Adjacent Open Area?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Building.IsArmedResponse" type="checkbox" id="BuildingIsArmedResponse">
                                    <label class="form-check-label" asp-for="Building.IsArmedResponse">Armed Response?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Building.ArmedResponseName" class="control-label">Armed Response Name</label>
                                <input asp-for="Building.ArmedResponseName" id="BuildingArmedResponseName" class="form-control" />
                            </div>
                        </div>

                    </div>
                </div>                    
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="BuildingSumInsured" class="control-label"></label>
                                <input asp-for="BuildingSumInsured" id="BuildingSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="BuildingCoverTypeId" class="control-label"></label>
                                <select asp-for="BuildingCoverTypeId" id="BuildingCoverTypeId" class="form-control" asp-items="@Model.CoverTypeList"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnBuildingRisk" class="btn btn-primary" onclick="LoadBuildings()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Modal -->
<div class="modal fade" id="contentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="contentModalLabel">
                    Contents
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Content.PhysicalAddress" class="control-label">Physical Address</label>
                            <input asp-for="Content.PhysicalAddress" id="ContentPhysicalAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.ResidenceTypeId" class="control-label">Residence Type</label>
                            <select asp-for="Content.ResidenceTypeId" id="ContentResidenceTypeId" class="form-control" asp-items="@Model.ResidenceTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.ResidenceUseId" class="control-label">Residence Type</label>
                            <select asp-for="Content.ResidenceUseId" id="ContentResidenceUseId" class="form-control" asp-items="@Model.ResidenceUseList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.WallTypeId" class="control-label">Wall Type</label>
                            <select asp-for="Content.WallTypeId" id="ContentWallTypeId" class="form-control" asp-items="@Model.WallTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.RoofTypeId" class="control-label">Roof Type</label>
                            <select asp-for="Content.RoofTypeId" id="ContentRoofTypeId" class="form-control" asp-items="@Model.RoofTypeList"></select>
                        </div>
                    </div>
                </div>                    
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ContentSumInsured" class="control-label"></label>
                                <input asp-for="ContentSumInsured" id="ContentSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ContentCoverTypeId" class="control-label"></label>
                                <select asp-for="ContentCoverTypeId" id="ContentCoverTypeId" class="form-control" asp-items="@Model.CoverTypeList"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnContentRisk" class="btn btn-primary" onclick="LoadContents()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- House Modal -->
<div class="modal fade" id="houseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="houseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="houseModalLabel">
                    House
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="House.PhysicalAddress" class="control-label">Physical Address</label>
                            <input asp-for="House.PhysicalAddress" id="HousePhysicalAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.ResidenceTypeId" class="control-label">Residence Type</label>
                            <select asp-for="House.ResidenceTypeId" id="HouseResidenceTypeId" class="form-control" asp-items="@Model.ResidenceTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.HouseConditionId" class="control-label">House Condition</label>
                            <select asp-for="House.HouseConditionId" id="HouseConditionId" class="form-control" asp-items="@Model.HouseConditionList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.WallTypeId" class="control-label">Wall Type</label>
                            <select asp-for="House.WallTypeId" id="HouseWallTypeId" class="form-control" asp-items="@Model.WallTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.RoofTypeId" class="control-label">Roof Type</label>
                            <select asp-for="House.RoofTypeId" id="HouseRoofTypeId" class="form-control" asp-items="@Model.RoofTypeList"></select>
                        </div>
                    </div>
                </div>
                <div class="col-6 border bg-light mb-3 py-2">
                    <div class="row gx-6">
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="House.BurglarAlarm" type="checkbox" id="IsBurglarAlarm">
                                    <label class="form-check-label" asp-for="House.BurglarAlarm">Burglar Alarm</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="House.BurglarBars" type="checkbox" id="IsBurglarBars">
                                    <label class="form-check-label" asp-for="House.BurglarBars">Burglar Alarm</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="HouseSumInsured" class="control-label"></label>
                                <input asp-for="HouseSumInsured" id="HouseSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="HouseCoverTypeId" class="control-label"></label>
                                <select asp-for="HouseCoverTypeId" id="HouseCoverTypeId" class="form-control" asp-items="@Model.CoverTypeList"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnHouseRisk" class="btn btn-primary" onclick="LoadHouses()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- Motor Modal -->
<div class="modal fade" id="motorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="motorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered needs-validation" role="document" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="motorModalLabel">
                    Motor Details
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Motor.RegNumber" class="control-label">Registration Number</label>
                            <input asp-for="Motor.RegNumber" id="RegNumber" class="form-control text-uppercase" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Motor.BodyTypeId" class="control-label">Body Type</label>
                            <select asp-for="Motor.BodyTypeId" id="BodyTypeId" class="form-control" asp-items="@Model.BodyTypeList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.Colour" class="control-label">Colour</label>
                            <input asp-for="Motor.Colour" id="Colour" class="form-control" />
                        </div>
                    </div>                        
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="MotorMakeId" class="control-label">Make</label>
                            <select asp-for="MotorMakeId" id="MotorMakeId" class="form-control" asp-items="@Model.MotorMakeList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.MotorModelId" class="control-label">Model</label>
                            <select asp-for="Motor.MotorModelId" id="MotorModelId" class="form-control" asp-items="@Model.MotorModelList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.RegYear" class="control-label">Year</label>
                            <select asp-for="Motor.RegYear" id="RegYear" class="form-control" asp-items="@Model.DateRangeList"></select>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.DriverTypeId" class="control-label">Driver Type</label>
                            <select asp-for="Motor.DriverTypeId" id="DriverTypeId" class="form-control" asp-items="@Model.DriverTypeList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.OdometerReading" class="control-label">Odometer Reading</label>
                            <input asp-for="Motor.OdometerReading" id="OdometerReading" class="form-control text-uppercase" />
                        </div> 
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.DaysOutOfCountry" class="control-label">Days Out of Country</label>
                            <input asp-for="Motor.DaysOutOfCountry" id="DaysOutOfCountry" class="form-control text-uppercase" />
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.EngineNumber" class="control-label">Engine Number</label>
                            <input asp-for="Motor.EngineNumber" id="EngineNumber" class="form-control text-uppercase" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.ChassisNumber" class="control-label">Chassis Number</label>
                            <input asp-for="Motor.ChassisNumber" id="ChassisNumber" class="form-control text-uppercase" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.EngineCapacity" class="control-label">Engine Capacity</label>
                            <input asp-for="Motor.EngineCapacity" id="EngineCapacity" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.MotorUseId" class="control-label">Motor Use</label>
                            <select asp-for="Motor.MotorUseId" id="MotorUseId" class="form-control" asp-items="@Model.MotorUseList"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Motor.FinancialInterest" class="control-label">Financial Interest</label>
                            <input asp-for="Motor.FinancialInterest" id="FinancialInterest" class="form-control" />
                        </div>
                    </div>
                    <div class="row col-8 mb-3 py-2">
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Motor.IsImport" type="checkbox" id="IsImport">
                                    <label class="form-check-label" asp-for="Motor.IsImport">Import?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Motor.IsSecurityFitting" type="checkbox" id="IsSecurityFitting">
                                    <label class="form-check-label" asp-for="Motor.IsSecurityFitting">Security Fitting?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Motor.IsTrackingDevice" type="checkbox" id="IsTrackingDevice">
                                    <label class="form-check-label" asp-for="Motor.IsTrackingDevice">Tracking Device?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Motor.IsImmobiliser" type="checkbox" id="IsImmobiliser">
                                    <label class="form-check-label" asp-for="Motor.IsImmobiliser">Immobiliser?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="Motor.IsImmobiliserFactoryFitted" type="checkbox" id="IsImmobiliserFactoryFitted">
                                    <label class="form-check-label" asp-for="Motor.IsImmobiliserFactoryFitted">Factory Fitted?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch ">
                                    <input class="form-check-input" asp-for="Motor.IsAlarm" type="checkbox" id="IsAlarm">
                                    <label class="form-check-label" asp-for="Motor.IsAlarm">Alarm?</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch ">
                                    <input class="form-check-input" asp-for="Motor.IsGearLock" type="checkbox" id="IsGearLock">
                                    <label class="form-check-label" asp-for="Motor.IsGearLock">Gear Lock?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="Motor.ClaimFreeGroup" class="form-label">Claim Free Group</label>
                        <input type="range" asp-for="Motor.ClaimFreeGroup" class="form-range" min="0" max="6" step="0.5" id="ClaimFreeGroup">
                    </div>
                </div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="MotorSumInsured" class="control-label"></label>
                                <input asp-for="MotorSumInsured" id="MotorSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="MotorCoverTypeId" class="control-label"></label>
                                <select asp-for="MotorCoverTypeId" id="MotorCoverTypeId" class="form-control" asp-items="@Model.CoverTypeList"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddMotor" class="btn btn-primary" onclick="LoadMotors()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- Travel Modal -->
<div class="modal fade" id="travelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="travelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="travelModalLabel">
                    Travel
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.PassportNumber" class="control-label"></label>
                            <input asp-for="Travel.PassportNumber" id="TravelPassportNumber" class="form-control" />
                        </div>
                    </div>  
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.DepartureDate" class="control-label"></label>
                             <input type="date" asp-for="Travel.DepartureDate" id="TravelDepartureDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.ReturnDate" class="control-label"></label>
                            <input type="date" asp-for="Travel.ReturnDate" id="TravelReturnDate" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.Destination" class="control-label"></label>
                             <input asp-for="Travel.Destination" id="TravelDestination" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.PersonVisited" class="control-label"></label>
                            <input asp-for="Travel.PersonVisited" id="TravelPersonVisited" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.Beneficiary" class="control-label"></label>
                            <input asp-for="Travel.Beneficiary" id="TravelBeneficiary" class="form-control" />
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.DoctorName" class="control-label"></label>
                             <input asp-for="Travel.DoctorName" id="TravelDoctorName" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Travel.DoctorPhone" class="control-label"></label>
                            <input asp-for="Travel.DoctorPhone" id="TravelDoctorPhone" class="form-control" />
                        </div>
                    </div> 
                </div>
                <div class="row mb-3 px-3">
                    <button id="btnAdditionalMembers" class="btn btn-secondary" type="button">Additional Members</button>
                </div>
                <div id="AdditionalMembers" class="row mb-3 px-3"></div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="TravelSumInsured" class="control-label"></label>
                                <input asp-for="TravelSumInsured" id="TravelSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="TravelCoverTypeId" class="control-label"></label>
                                <select asp-for="TravelCoverTypeId" id="TravelCoverTypeId" class="form-control" asp-items="@Model.CoverTypeList" ></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddTravel" class="btn btn-primary" onclick="LoadTravel()">Save this record</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var portfolioClientId = '@Model.PortfolioClientId';
        var clientId = '@Model.ClientId';
        var portfolioId = '@Model.PortfolioId';
        var allRisks = [];
        var buildings = [];
        var contents = [];
        var houses = [];
        var motors = [];
        var quoteItems = [];
        var riskItems = [];
        var quoteId = uuidv4();
        var maxRows = 10;
        var x = 1;

        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $(document).ready(function () {
            // Do something here
        });

        $('#btnAdditionalMembers').click(function(e) {
            e.preventDefault();

            $('#AdditionalMembers').append($('<div id="MembersFields">')
                .append($('<input type="text" placeholder="First Name">').addClass('form-control'))
                .append($('<a>').attr('href', '#')
                .append($('<span>&minus;</span>').addClass('btn btn-danger btn-sm float-right delete'))))
        });

        $('#AdditionalMembers').on('click', '.delete', function() {
            console.log('Click! 1');
            $(this).parent(this).parent('div').remove();
        });

        $("#MotorMakeId").change(function () {
            var selectedMotorMakeId = $("#MotorMakeId option:selected").val();

            $.ajax({
                url: '@(Url.Action("GetMotorModels", "MotorModels"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { motorMakeId: selectedMotorMakeId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (models) {

                    $("#MotorModelId").empty();   // clear before appending new list
                    $.each(models, function (index, model) {
                        $('#MotorModelId').append($('<option></option>').val(model.id).html(model.name));
                    });
                }
            });
        });

        function LoadAllRisks() {
            var clientRiskId = uuidv4();
            var description = 'AllRisks - ' + $('#Description').val();
            var sumInsured = $('#AllRiskSumInsured').val();
            var coverType = $('#AllRiskCoverTypeId option:selected').text();
            var riskItemId = uuidv4();

            //  1. Build RiskItem Array to match model class RiskItem
            var riskItem = {
                Id: riskItemId,
                Description: $('#Description').val()
            }

            //  2. Build AllRisk Array to match model class AllRisk
            var allRisk = {
                Id: clientRiskId,
                RiskItemid: riskItemId
            }
            //  3. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#AllRiskCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  4. Append to the Arrays
            allRisks.push(allRisk);
            quoteItems.push(quoteItem);
            riskItems.push(riskItem);
            
            AddToCart(clientRiskId, description, coverType, sumInsured);
        }
        
        function LoadBuildings() {
            var clientRiskId = uuidv4();
            var description = 'Building - ' + $('#BuildingPhysicalAddress').val();
            var sumInsured = $('#BuildingSumInsured').val();
            var coverType = $('#BuildingCoverTypeId option:selected').text();

            //  1. Build House Array to match model class House
            var building = {
                Id: clientRiskId,
                PhysicalAddress: $('#BuildingPhysicalAddress').val(),
                ResidenceTypeId: $('#BuildingResidenceTypeId option:selected').val(),
                ResidenceUseId: $('#BuildingResidenceUseId option:selected').val(),
                RoofTypeId: $('#BuildingRoofTypeId option:selected').val(),
                WallTypeId: $('#BuildingWallTypeId option:selected').val(),
                BuildingConditionId: $('#BuildingConditionId option:selected').val(),
                IsBurglarBars: $('#BuildingIsBurglarBars').val(),
                IsBurglarAlarm: $('#BuildingIsBurglarAlarm').val(),
                IsRentedOut: $('#BuildingIsRentedOut').val(),
                IsUnoccupied: $('#BuildingIsUnoccupied').val(),
                UnoccupancyPeriod: $('#BuildingUnoccupancyPeriod').val(),
                IsUseHouseSitters: $('#BuildingIsUseHouseSitters').val(),
                IsKeepDogs: $('#BuildingIsKeepDogs').val(),
                IsSecurityGates: $('#BuildingIsSecurityGates').val(),
                IsArmedResponse: $('#BuildingIsArmedResponse').val(),
                ArmedResponseName: $('#BuildingArmedResponseName').val(),
                IsElectronicGate: $('#BuildingIsElectronicGate').val(),
                IsElectricFence: $('#BuildingIsElectricFence').val(),
                IsSecurityComplex: $('#BuildingIsSecurityComplex').val(),
                IsRetirementVillage: $('#BuildingIsRetirementVillage').val(),
                IsAdjacentOpenArea: $('#BuildingIsAdjacentOpenArea').val(),
                BondHolder: $('#BuildingBondHolder').val()
            }

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#BuildingCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            buildings.push(building);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadContents() {
            var clientRiskId = uuidv4();
            var description = 'Contents - ' + $('#ContentName').val();
            var sumInsured = $('#ContentSumInsured').val();
            var coverType = $('#ContentCoverTypeId option:selected').text();

            //  1. Build Content Array to match model class Building
            var content = {
                Id: clientRiskId,
                RoofTypeId: $('#ContentRoofTypeId option:selected').val(),
                WallTypeId: $('#ContentWallTypeId option:selected').val(),
                Name: $('#ContentName').val(),
                PhysicalAddress: $('#ContentPhysicalAddress').val(),
                ResidenceTypeId: $('#ContentResidenceTypeId option:selected').val(),
                ResidenceUseId: $('#ContentResidenceUseId option:selected').val()                
            }

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#ContentCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            contents.push(content);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadHouses() {
            var clientRiskId = uuidv4();
            var description = 'House - ' + $('#HousePhysicalAddress').val();
            var sumInsured = $('#HouseSumInsured').val();
            var coverType = $('#HouseCoverTypeId option:selected').text();

            //  1. Build House Array to match model class House
            var house = {
                Id: clientRiskId,
                PhysicalAddress: $('#HousePhysicalAddress').val(),
                ResidenceTypeId: $('#HouseResidenceTypeId option:selected').val(),
                RoofTypeId: $('#HouseRoofTypeId option:selected').val(),
                WallTypeId: $('#HouseWallTypeId option:selected').val(),
                HouseConditionId: $('#HouseConditionId option:selected').val(),
                BurglarIsAlarm: $('#BurglarIsAlarm').val(),
                BurglarBars: $('#BurglarIsAlarm').val()               
            }

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#HouseCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            houses.push(house);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadMotors() {
            var clientRiskId = uuidv4();
            var description = 'Motor - ' + $('#RegYear').val() + ' ' + $('#MotorMakeId option:selected').text() + ' ' + $('#RegNumber').val();
            var sumInsured = $('#MotorSumInsured').val();
            var coverType = $('#MotorCoverTypeId option:selected').text();

            //  1. Build Motor Array to match model class Motor
            var motor = {
                Id: clientRiskId,
                RegNumber: $('#RegNumber').val(),
                BodyTypeId: $('#BodyTypeId option:selected').val(),
                MotorModelId: $('#MotorModelId option:selected').val(),
                RegYear: $('#RegYear').val(),
                DriverTypeId: $('#DriverTypeId option:selected').val(),
                EngineNumber: $('#EngineNumber').val(),
                ChassisNumber: $('#ChassisNumber').val(),
                EngineCapacity: $('#EngineCapacity').val(),
                OdometerReading: $('#OdometerReading').val(),
                ClaimFreeGroup: $('#ClaimFreeGroup').val(),
                Colour: $('#Colour').val(),
                MotorUseId: $('#MotorUseId option:selected').val(),
                IsImport: $('#IsImport').val(),
                IsSecurityFitting: $('#IsSecurityFitting').val(),
                IsImmobiliserFactoryFitted: $('#IsImmobiliserFactoryFitted').val(),
                IsTrackingDevice: $('#IsTrackingDevice').val(),
                IsImmobiliser: $('#IsImmobiliser').val(),
                IsAlarm: $('#IsAlarm').val(),
                IsGearLock: $('#IsGearLock').val(),
                DaysOutOfCountry: $('#DaysOutOfCountry').val(),
                FinancialInterest: $('#FinancialInterest').val()
            };

            //  2. Build QuoteItem Array to match model class QuoteItem
            var quoteItem = {
                Id: uuidv4(),
                QuoteId: quoteId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#MotorCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                TaxRate: 0,
                TaxAmount: 0,
                CoverType: coverType
            }

            //  3. Append to the Arrays
            motors.push(motor);
            quoteItems.push(quoteItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        $('#btnCreateQuote').click(function () {
            var cartItems = $('#tblCart tbody tr');
            var numCart = cartItems.length;

            $("#ErrorMsg").empty();

            if (numCart == 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Cart is empty</label>');
                return;
            };
            $("#ErrorMsg").removeClass("text-danger visible").addClass("invisible");

            GenerateQuote();
        });

        function ResetBtnCreateQuote() {
            var cartItems = $('#tblCart tbody tr').length;
            if (cartItems == 0) {
                $('#tblCart').removeClass("visible").addClass("invisible");
                $('#btnCreateQuote').removeClass("visible").addClass("invisible");
            } else {
                $('#btnCreateQuote').removeClass("invisible").addClass("visible");
                $('#tblCart').removeClass("invisible").addClass("table visible");
            }
        }
        
        function AddToCart(clientRiskId, description, coverType, sumInsured) {

            $("#ErrorMsg").empty();
            var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
            if (cartItem.length > 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Item already in Cart</label>');
                $("#ErrorMsg").delay(3000).queue(function (n) {
                    $(this).removeClass("text-danger visible").addClass("invisible");
                    n();
                });
                return;
            }

            cartItem = $('#tblCart tbody')
                .append($('<tr>')
                    .attr({ 'data-client-risk-id': clientRiskId })
                    .append($('<td>').html(description))
                    .attr({ 'data-description': description })
                    .append($('<td>').html(coverType))
                    .append($('<td>').html(sumInsured))
                    .append($('<td>')
                        .append($('<a>')
                            .attr('href', '#')
                            .append($('<span>&minus;</span>').addClass('btn btn-danger btn-sm float-right'))
                            .click(function () {
                                // Delete Cart from Database: DELETE /api/Carts/{id}
                                DeleteCart(clientRiskId);
                        })
                    )
                )
            );
            ResetBtnCreateQuote();
        }

        function GenerateQuote() {

            //  Build Quote Arrat to match model class Quote
            var quote = {
                Id: quoteId,
                PortfolioClientId: portfolioClientId,
                QuoteNumber: 0,
                QuoteDate: '@DateTime.Now',
                QuoteStatusId: $('#QuoteStatusId option:selected').val(),
                InsurerId: null,
                ClientInfo: $('#ClientInfo').val(),
                InternalInfo: $('#InternalInfo').val(),
                RunDay: 0
            };

            if (quoteItems) {

                QuoteObject = {
                    ClientId: clientId,
                    Quote: quote,
                    QuoteItems: quoteItems,
                    AllRisks: allRisks,
                    Buildings: buildings,
                    Contents: contents,
                    Houses: houses,
                    Motors: motors,
                    RiskItems: riskItems
                }

                $.ajax({
                    url: '@(Url.Action("PostQuote"))',
                    type: "POST",
                    dataType: "json",
                    data: { quoteObject: QuoteObject },
                    error: function (xhr, status, error) {
                        alert("An error has occured." + error);
                    },
                    success: function (data) {
                        window.location.href ='/Quotes/PortfolioClientQuotes?portfolioClientId=' +  portfolioClientId;
                    }
                });
            }
        }

        function DeleteCart(clientRiskId) {
            
            if (clientRiskId) {
                var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
                cartItem.remove();

                if (allRisks.length != 0) {
                    allRisks = allRisks.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (buildings.length != 0) {
                    buildings = buildings.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (contents.length != 0) {
                    contents = contents.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (houses.length != 0) {
                    contents = houses.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (motors.length != 0) {
                    motors = motors.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }
            }
            ResetBtnCreateQuote();
        }
    </script>
}
