@model QuoteResource

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4 offset-md-8 bd-highlight mb-3">
    <div class="mr-auto p-2 bg-light">
        <h1>Quote</h1>
        <dl class="row">
            <dt class="col-6">
                Date:
            </dt>
            <dd class="col-6">
                @Model.QuoteDate.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-6">
                Quote Number:
            </dt>
            <dd class="col-6">
                @Model.QuoteNumber
            </dd>
        </dl>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Insurer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Insurer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuoteStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternalInfo)
        </dd>
    </dl>
</div>

<div class="form-group">
    @await Component.InvokeAsync("QuoteItems", new { quoteId = @Model.Id })
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
