@model QuoteResource

@{
    ViewData["Title"] = Model.PortfolioName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FullName = String.IsNullOrEmpty(Model.Client.FirstName) ? Model.Client.LastName : 
                    Model.Client.FirstName + " " + 
                    Model.Client.LastName;

    var taxRate = Model.TaxRate;
    var totalPremium = Model.QuoteItems.Sum(r => r.Premium);
    var totalTaxAmount = totalPremium * taxRate/100;
    var quoteTotal = totalPremium + totalTaxAmount;                    
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <a asp-controller="PortfolioClients" asp-action="Details" asp-route-portfolioId="@Model.PortfolioClient.PortfolioId", asp-route-clientId="@Model.Client.Id">
        <h6 class="text-muted">@FullName</h6>
    </a>
</div>
<hr />

<div class="d-flex justify-content-center">
    <form asp-action="Edit" class="col-md-9">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PortfolioClientId" />
        <input type="hidden" asp-for="PortfolioId" />
        <input type="hidden" asp-for="ClientId" />
        <input type="hidden" asp-for="QuoteNumber" />
        <input type="hidden" asp-for="QuoteDate" />
        <div class="card">
            <div class="card-header">
               <div class="d-flex justify-content-between">
                    <h5>Edit Quote</h5>
                    <h5 class="fw-bold">@Model.QuoteNumber</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="InsurerId" class="control-label"></label>
                            <select asp-for="InsurerId" class="form-control" asp-items="Model.InsurerList"></select>
                            <span asp-validation-for="InsurerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="QuoteStatusId" class="control-label"></label>
                            <select asp-for="QuoteStatusId" class="form-control" asp-items="Model.QuoteStatusList"></select>
                            <span asp-validation-for="QuoteStatusId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                                <label asp-for="RunDay" class="control-label"></label>
                                <select asp-for="RunDay" class="form-control" asp-items="Model.DayList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="ClientInfo" class="control-label"></label>
                        <input asp-for="ClientInfo" class="form-control">
                        <span asp-validation-for="ClientInfo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label asp-for="InternalInfo" class="control-label"></label>
                        <input asp-for="InternalInfo" class="form-control">
                        <span asp-validation-for="InternalInfo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-secondary" /> |
                    <a asp-action="Details" asp-route-id="@Model.Id">Return</a>
                </div>
            </div>
        </div>
    </form>
</div>