@model QuoteResource

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FullName = String.IsNullOrEmpty(Model.Client.FirstName) ? Model.Client.LastName : Model.Client.FirstName + " " + Model.Client.LastName;
}

<div class="col-md-4 offset-md-8 bd-highlight mb-3">
    <div class="mr-auto p-2 bg-light">
        <h1>Quote</h1>
        <dl class="row">
            <dt class="col-6">
                Date:
            </dt>
            <dd class="col-6">
                @Model.QuoteDate.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-6">
                Quote Number:
            </dt>
            <dd class="col-6">
                @Model.QuoteNumber
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <a asp-controller="PortfolioClients" asp-action="Details" asp-route-portfolioId="@Model.PortfolioClient.PortfolioId", asp-route-clientId="@Model.Client.Id"><h6>@FullName</h6></a>
    </div>
</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PortfolioClientId" />
    <input type="hidden" asp-for="PortfolioId" />
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="QuoteNumber" />
    <input type="hidden" asp-for="QuoteDate" />
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="InsurerId" class="control-label"></label>
                <select asp-for="InsurerId" class="form-control" asp-items="Model.InsurerList"></select>
                <span asp-validation-for="InsurerId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label asp-for="QuoteStatusId" class="control-label"></label>
                <select asp-for="QuoteStatusId" class="form-control" asp-items="Model.QuoteStatusList"></select>
                <span asp-validation-for="QuoteStatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                    <label asp-for="RunDay" class="control-label"></label>
                    <select asp-for="RunDay" class="form-control" asp-items="Model.DayList"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="ClientInfo" class="control-label"></label>
                <textarea asp-for="ClientInfo" class="form-control"></textarea>
                <span asp-validation-for="ClientInfo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="InternalInfo" class="control-label"></label>
                <textarea asp-for="InternalInfo" class="form-control"></textarea>
                <span asp-validation-for="InternalInfo" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">Back</a>
    </div>
</form>

