@model IEnumerable<QuoteResource>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuoteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteStatus.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteStatus.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
