@model QuoteResource
@{
    ViewData["Title"] = "Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var subTotal = 0M;
    var taxAmount = 0M;
    var totalAmount = 0M;
    var taxRate = ViewBag.TaxRate;
    var totalPremium = Model.QuoteItems.Sum(r => r.Premium);
    var totalTaxAmount = totalPremium * taxRate/100;
    var grandTotal = totalPremium + totalTaxAmount;

    var FullName = String.IsNullOrEmpty(Model.Client.FirstName) ? Model.Client.LastName : Model.Client.FirstName + " " + Model.Client.LastName;
}

<div class="container mt-3 w-75">
    <div class="card py-3 px-5">
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <img src="~/images/minet.png" class="img-fluid rounded float-start" alt="minet">
                </div>
            </div>
            <div class="row text-center">
                <p class="fs-2 fw-bolder">Quotation</p>
            </div>
            <div class="row border mb-3">
                <div class="col border lh-1 p-3">
                    <p>@FullName</p>
                    <p>P O Box 201867</p>
                    <p>Gaborone</p>
                    <p>Client VAT Number:</p>
                </div>
                <div class="col border lh-1 p-3">
                    <p>Aon Botswana (Pty) Ltd.</p>
                    <p>P.O. Box 624</p>
                    <p>Gaborone</p>
                    <p>Botswana</p>
                    <p>Phone: +267 3617300 +267 3914608</p>
                    <p>VAT Number: C00755301112</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col border p-3">
                    <div class="row">
                        <div class="col fw-bolder"><p>Quote Date:</p></div>
                        <div class="col"><p>@Model.QuoteDate.ToString("dd MMMM yyyy")</p></div>
                    </div>
                    <div class="row">
                        <div class="col fw-bolder"><p>Quote Number:</p></div>
                        <div class="col"><p>@Model.QuoteNumber</p></div>
                    </div>
                   <div class="row">
                        <div class="col fw-bolder"><p>Insurer:</p></div>
                        <div class="col"><p>@Model.InsurerBranch.Insurer.Name</p></div>
                    </div>
                    <div class="row">
                        <div class="col fw-bolder"><p>VAT Number:</p></div>
                        <div class="col"><p>C0709840113</p></div>
                    </div>
                </div>
                <div class="col border p-3">
                    <div class="row">
                        <div class="col fw-bolder"><p>Premium:</p></div>
                        <div class="col text-right"><p>@totalPremium.ToString("C2")</p></div>
                    </div>
                    <div class="row">
                        <div class="col fw-bolder"><p>VAT Due:</p></div>
                        <div class="col text-right"><p>@totalTaxAmount.ToString("C2")</p></div>
                    </div>
                   <div class="row align-bottom">
                        <div class="col fw-bolder"><p>Total Amount Due:</p></div>
                        <div class="col text-right"><p>@grandTotal.ToString("C2")</p></div>
                    </div>                      
                </div>                
            </div>

            @if (Model.QuoteItems.Any())
            {
                <div class="row border p-3">
                    <table id="tblQuoteItems" class="table table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Sum Insured
                                </th>
                                <th class="text-right">
                                    Annual Premium
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.QuoteItems)
                            {
                                subTotal = subTotal + @item.Premium;
                                taxAmount = subTotal * taxRate/100;
                                totalAmount = subTotal + taxAmount;                                
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.SumInsured.ToString("C2")</td>
                                    <td class="text-right">@totalAmount.ToString("C2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <caption>No Records Found</caption>
            }
            <div class="row py-3">
                <div class="row mb-3">
                    <div class="col">
                        <span class="fw-bolder">Reference:</span> SERETK01 / ST-GAB-@Model.Client.ClientNumber-@Model.QuoteNumber-002
                    </div>
                    <div class="col-md-auto">
                        @Model.QuoteDate.ToString("dd MMMM yyyy")
                    </div>
                </div>
                <p class="fw-bolder">Your premium is now due for payment. Failure to pay your premium on time will result in the voiding of your policy
                    and there will be "no cover" in effect and we will not be obliged to inform you of this fact.</p>
                <p class="fw-bolder">Please use the following bank details to make payments. Please email proof to accounts@aon.co.bw and quote the
                    reference number above.</p>
                <p class="fw-bolder">
                    Account Name: Aon Botswana (Pty) Ltd<br/>
                    Bank: Standard Chartered Bank Botswana<br/>
                    Branch Code: 662167<br/>
                    Branch Name: Main Mall<br/>
                    Account Number: 0100152956700<br/>
                    SWIFT Code: SCHBBWGXXXX</p>
            </div>
        </div>
    </div>
</div>