@model QuoteSearchResource
@{
    ViewData["Title"] = ViewData["PortfolioName"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<br />

<form asp-action="Search" method="get">
    <input type="hidden" asp-for="PortfolioId" />
    <div class="form-inline border border-primary justify-content-end text-right">  
        <label asp-for="SearchString" style="display: block; padding-right: 10px; text-align: right;">Enter search string: </label>        
        <input type="search" asp-for="SearchString" placeholder="Enter Keywords?" class="form-control" />        
        <button type="submit" id="SearchButton" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Quote Number</strong>
            </th>
            <th>
                <strong>Quote Date</strong>
            </th>
            <th>
                <strong>Last Name</strong>
            </th>
            <th>
                <strong>First Name</strong>
            </th>
            <th>
                <strong>Status</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.QuoteResources) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteNumber)
            </td>
            <td>
                @item.QuoteDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteStatus.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}