@model CustomerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var FullName = String.IsNullOrEmpty(Model.FirstName) ? Model.LastName : 
                    Model.FirstName + " " + 
                    Model.LastName;    

}

<h1>@Model.PortfolioName</h1>

<div class="row">
    <div class="col-3">
        <div class="card text-center mb-4">
            <div class="card-body text-center">
                <div class="card-img mx-auto d-flex justify-content-center" style="max-height: 8rem;">
                    <div class="position-relative overflow-hidden rounded-circle">
                        <div style="overflow: hidden; box-sizing: border-box; display: inline-block; position: relative; width: 122px; height: 122px;">
                            <img src="~/images/user.png" alt="Customer" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" />
                        </div>
                    </div>
                </div>
                <h6 class="card-title mb-3">@FullName</h6>
                <p class="card-text"><strong>@Model.CustomerNumber</strong></p>
                <div class="row mb-0">
                    <div class="col">
                        <p class="card-text text-muted"><small>@Model.Gender.Name</small></p>
                    </div>
                    <div class="col">
                        <p class="card-text text-muted"><small>@Model.BirthDate.ToShortDateString()</small></p>
                    </div>
                </div>
                <p class="card-text text-muted"><small>@Model.Occupation.Name</small></p>                
                <div class="form-group">
                    <a asp-action="Edit" asp-route-portfolioId="@Model.PortfolioId" asp-route-customerId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Edit</a>
                </div>
            </div>
        </div>
        <div class="card mb-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title mb-3">Address</h6>
                    <span><i class="fas fa-map-marker-alt"></i></span> 
                </div>
@*                @if (Model.Addresses != null)
                {
                    <p class="card-text text-muted mb-0"><small>@Model.Addresses.FirstOrDefault().PhysicalAddress</small></p>
                    <p class="card-text text-muted mb-0"><small>@Model.Addresses.FirstOrDefault().PostalAddress</small></p>
                    <p class="card-text text-muted"><small>@Model.Addresses.FirstOrDefault().City.Name</small></p>
                    <div class="form-group">
                        <a asp-controller="Addresses" asp-action="Edit" asp-route-portfolioId="@Model.PortfolioId" asp-route-id="@Model.Addresses.FirstOrDefault().Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Edit</a>
                    </div>
                } else {
                    <div class="form-group">
                        <a asp-controller="Addresses" asp-action="Create" asp-route-portfolioId="@Model.PortfolioId" asp-route-customerId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i> Add</a>
                    </div>
                } *@
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title mb-3">Carriers</h6>
                    <span><i class="fas fa-envelope-open-text"></i></span> 
                </div>
                @if(Model.CustomerCarriers.Any())
                { 
                    @foreach(var item in Model.CustomerCarriers)
                    {
                        <div class="d-flex justify-content-center">
                            @* <span class="fs-6 text-muted"><small>@item.Carrier.Name</small></span> *@
                        </div>
                    }
                    <div class="form-group mt-3">
                        <a asp-controller="CustomerCarriers" asp-action="Update" asp-route-portfolioId="@Model.PortfolioId" asp-route-customerId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Update</a>
                    </div>
                } else {
                    <span class="card-text text-muted mb-3"><small>No Carriers</small></span>
                    <div class="form-group">
                        <a asp-controller="CustomerCarriers" asp-action="Create" asp-route-portfolioId="@Model.PortfolioId" asp-route-customerId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Add</a>
                    </div>
                }
             </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row mb-3">
            <div class="col-md-3">
                @* @await Component.InvokeAsync("PortfolioCustomerPremium", new { portfolioCustomerId = @Model.PortfolioCustomerId }) *@
            </div>
            <div class="col-md-3">
                @* @await Component.InvokeAsync("PortfolioCustomerSumInsured", new { portfolioCustomerId = @Model.PortfolioCustomerId }) *@
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title">Risks</h6>
                        <div class="row">
                            <div class="col">
                                <p class="card-text font-weight-bolder mb-1 h4">5</p><span class="badge badge-success rounded-pill">+3.5%</span>
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">Sat : 120</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title">Claims</h6>
                        <div class="row">
                            <div class="col">
                                <p class="card-text font-weight-bolder mb-1 h4">$0</p><span class="badge badge-warning rounded-pill">+3.5%</span>
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">Sat : 120</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                @* @await Component.InvokeAsync("Policy", new { portfolioCustomerId = @Model.PortfolioCustomerId }) *@
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <h5 class="card-header">List</h5>
                    <div class="card-body bg-light">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="border-start border-3 border-primary ps-3">
                                    <span class="fw-light">
                                        <a asp-controller="Quotes" asp-action="PortfolioCustomerQuotes" asp-route-portfolioCustomerId="@Model.PortfolioCustomerId" class="card-link link-info">
                                            Quotations</a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="border-start border-3 border-success ps-3">
                                    <span class="fw-light">
                                        <a href="#" class="card-link link-info">
                                            Claims</a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="border-start border-3 border-warning ps-3">
                                    <span class="fw-light">
                                        <a href="#" class="card-link link-info">
                                            Premiums</a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="border-start border-3 border-danger ps-3">
                                    <span class="fw-light">
                                        <a href="#" class="card-link link-info">
                                            Documents</a>
                                    </span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="border-start border-3 border-dark ps-3">
                                    <span class="fw-light">
                                        <a href="#" class="card-link link-info">
                                            Invoices</a>
                                    </span>
                                </div>
                                
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @* @await Component.InvokeAsync("Policies", new { portfolioCustomerId = @Model.PortfolioCustomerId }) *@
        </div>
        <div class="form-group">
            <a asp-action="Search" asp-route-portfolioId="@Model.PortfolioId">Return</a>
        </div>
    </div>
</div>

@section Scripts {


} 