@model PolicyRiskViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>PolicyRisk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumInsured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumInsured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverType)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
