@model MotorResource

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Motor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMotor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PolicyRiskId" />
            <div class="form-group">
                <label asp-for="RegNumber" class="control-label"></label>
                <input asp-for="RegNumber" class="form-control text-uppercase" />
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyTypeId" class="control-label"></label>
                <select asp-for="BodyTypeId" class="form-control" asp-items="Model.BodyTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="MotorMakeId" class="control-label"></label>
                <select asp-for="MotorMakeId" class="form-control" asp-items="Model.MotorMakeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="MotorModelId" class="control-label"></label>
                <select asp-for="MotorModelId" class="form-control" asp-items="Model.MotorModelList"></select>
            </div>
            <div class="form-group">
                <label asp-for="RegYear" class="control-label"></label>
                <input asp-for="RegYear" class="form-control" />
                <span asp-validation-for="RegYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverTypeId" class="control-label"></label>
                <select asp-for="DriverTypeId" class="form-control" asp-items="Model.DriverTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="EngineNumber" class="control-label"></label>
                <input asp-for="EngineNumber" class="form-control text-uppercase" />
                <span asp-validation-for="EngineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChassisNumber" class="control-label"></label>
                <input asp-for="ChassisNumber" class="form-control text-uppercase" />
                <span asp-validation-for="ChassisNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineCapacity" class="control-label"></label>
                <input asp-for="EngineCapacity" class="form-control" />
                <span asp-validation-for="EngineCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotorUseId" class="control-label"></label>
                <select asp-for="MotorUseId" class="form-control" asp-items="Model.MotorUseList"></select>
            </div>
            <div class="form-group form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GreyImport" /> @Html.DisplayNameFor(model => model.GreyImport)
                </label>
            </div>
            <div class="form-group form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SecurityFitting" /> @Html.DisplayNameFor(model => model.SecurityFitting)
                </label>
            </div>
            <div class="form-group form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrackingDevice" /> @Html.DisplayNameFor(model => model.TrackingDevice)
                </label>
            </div>
            <div class="form-group form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Immobiliser" /> @Html.DisplayNameFor(model => model.Immobiliser)
                </label>
            </div>
            <div class="form-group form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alarm" /> @Html.DisplayNameFor(model => model.Alarm)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {

            //  Do something here.
            $('#RegNumber, #EngineNumber, #ChassisNumber').keyup(function () {
                $(this).val($(this).val().toUpperCase());
            });

            $("#MotorMakeId").change(function () {
                var selectedMotorMakeId = $("#MotorMakeId option:selected").val();

                $.ajax({
                    url: '@(Url.Action("GetMotorModels", "MotorModels"))',
                    traditional: true,
                    dataType: "JSON",
                    type: 'GET',
                    data: { motorMakeId: selectedMotorMakeId },
                    error: function () {
                        alert("An error occurred.");
                    },
                    success: function (models) {

                        $("#MotorModelId").empty();   // clear before appending new list
                        $.each(models, function (index, model) {
                            $('#MotorModelId').append($('<option></option>').val(model.id).html(model.name));
                        });
                    }
                });
            });
        });


    </script>
}
