@model PortfolioClientSaveResource

@{
    ViewData["Title"] = Model.PortfolioName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>New Client</h4>
<hr />
<div class="row">
    <form class="row g-3" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="PortfolioId" type="hidden" />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="TitleId" class="control-label"></label>
                    <select asp-for="TitleId" class="form-control" asp-items="@Model.TitleList">
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="ClientTypeId" class="control-label"></label>
                    <select asp-for="ClientTypeId" class="form-control" asp-items="@Model.ClientTypeList"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="GenderId" class="control-label"></label>
                    <select asp-for="GenderId" class="form-control" asp-items="@Model.GenderList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="IdDocument" class="control-label"></label>
                    <select asp-for="IdDocument" class="form-control" asp-items="@Model.IdDocumentList">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IdNumber" class="control-label"></label>
                    <input asp-for="IdNumber" class="form-control"/>
                    <span asp-validation-for="IdNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="MaritalStatusId" class="control-label"></label>
                    <select asp-for="MaritalStatusId" class="form-control" asp-items="@Model.MaritalStatusList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="CountryId" class="control-label"></label>
                    <select asp-for="CountryId" class="form-control" asp-items="@Model.CountryList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="OccupationId" class="control-label"></label>
                    <select asp-for="OccupationId" class="form-control" asp-items="@Model.OccupationList"></select>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile1" class="control-label"></label>
                    <input asp-for="Mobile1" class="form-control" />
                    <span asp-validation-for="Mobile1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile2" class="control-label"></label>
                    <input asp-for="Mobile2" class="form-control" />
                    <span asp-validation-for="Mobile2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email1" class="control-label"></label>
                    <input asp-for="Email1" class="form-control" />
                    <span asp-validation-for="Email1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email2" class="control-label"></label>
                    <input asp-for="Email2" class="form-control" />
                    <span asp-validation-for="Email2" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="row gx-2 border p-3">
            <div class="col-6">
                <partial name="_CreateAddress" model="Model"/>
            </div>
            <div class="col offset-md-1">
                <partial name="_CreateCarrier" model="Model"/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="PortfolioClients" asp-action="Index" asp-route-portfolioId="@Model.PortfolioId">Back to Portfolio Clients</a>
</div>

<!-- Client Modal -->
<div class="modal fade" id="ClientModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="clientModalLabel">
                    Client
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="modalFirstName" class="control-label">First Name</label>
                            <input for="modalFirstName" id="modalFirstName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="modalLastName" class="control-label">Last Name</label>
                            <input for="modalLastName" id="modalLastName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="modalIdNumber" class="control-label">ID Number</label>
                            <input for="modalIdNumber" id="modalIdNumber" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="modalClientNumber" class="control-label">Client Number</label>
                            <input for="modalClientNumber" id="modalClientNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="modalMobile" class="control-label">Mobile</label>
                            <input for="modalMobile" id="modalMobile" class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="modalEmail" class="control-label">Email</label>
                            <input for="modalEmail" id="modalEmail" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddClient" class="btn btn-primary" onclick="PostPortfolioClient()">Save this record</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var portfolioClientId = '@Model.PortfolioId';
        var clientId = null;
        var selectedIdNumber = null;

        $(document).ready(function () {
            //  Do someting here.
        });

        $('#IdNumber').focusout(function() {
            
            selectedIdNumber = $(this).val();
            if(selectedIdNumber != null && selectedIdNumber != '') {
                CheckClient(selectedIdNumber);
            }
        });

        $('#ClientModal').on('show.bs.modal', function (e) {
            e.preventDefault();

            $('#modalFirstName').val('');
            $('#modalLastName').val('');
            $('#modalIdNumber').val('');
            $('#modalClientNumber').val('');
            $('#modalMobile').val('');
            $('#modalEmail').val('');
        });

        function CheckClient(idNumber) {
            
            if(idNumber != null && idNumber != '') {
                
                $.ajax({
                    url: '@(Url.Action("GetByIdNumber", "Clients"))',
                    traditional: true,
                    dataType: "json",
                    type: 'GET',
                    data: { idNumber: idNumber },
                    error: function () {
                        alert("An error occurred.");
                    },
                    success: function (client) {
                        console.log(client);
                        clientId = client.id;
                        if (clientId != null && clientId != '') {
                            alert('About to load modal ' + clientId);
                            $('#modalFirstName').val(client.firstName);
                            $('#modalLastName').val(client.lastName);
                            $('#modalIdNumber').val(client.idNumber);
                            $('#modalClientNumber').val(client.clientNumber);
                            $('#modalMobile').val(client.mobile);
                            $('#modalEmail').val(client.email);
                            var myModal = new bootstrap.Modal(document.getElementById('ClientModal'), options);
                            myModal.show();
                        }
                    }
                });
            }
        }

        function PostPortfolioClient() {

            if(clientId != null && clientId != '') {

                $.ajax({
                    url: '@(Url.Action("AddExistingClient"))',
                    type: "POST",
                    dataType: "json",
                    data: { portfolioId: portfolioId, clientId: clientId },
                    error: function (xhr, status, error) {
                        alert("An error has occured." + error);
                    },
                    success: function (data) {
                        
                        window.location.href = "PortfolioClients/Index?PortfolioId=" + portfolioId;
                    }
                });
            }
        }
    </script>
}