@model PortfolioClientSaveResource

@{
    ViewData["Title"] = Model.PortfolioName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="d-flex justify-content-center">
    <form asp-action="Create" class="col-md-9">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="PortfolioId" type="hidden" />
        <div class="card mb-3">
            <h5 class="card-header">New Client</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="TitleId" class="control-label"></label>
                            <select asp-for="TitleId" class="form-control" asp-items="@Model.TitleList">
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="ClientTypeId" class="control-label"></label>
                            <select asp-for="ClientTypeId" class="form-control" asp-items="@Model.ClientTypeList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="BirthDate" class="control-label"></label>
                            <input asp-for="BirthDate" type="date" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="GenderId" class="control-label"></label>
                            <select asp-for="GenderId" class="form-control" asp-items="@Model.GenderList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="CountryId" class="control-label"></label>
                            <select asp-for="CountryId" class="form-control" asp-items="@Model.CountryList"></select>
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="IdDocumentTypeId" class="control-label"></label>
                            <select asp-for="IdDocumentTypeId" class="form-control" asp-items="@Model.IdDocumentTypeList">
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="IdNumber" class="control-label"></label>
                            <input asp-for="IdNumber" class="form-control text-uppercase"/>
                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="MaritalStatusId" class="control-label"></label>
                            <select asp-for="MaritalStatusId" class="form-control" asp-items="@Model.MaritalStatusList"></select>
                        </div>
                    </div>                
                </div>
                <div class="row border p-3 m-3 bg-danger bg-opacity-10 text-white" id="DivDuplicate" style="display:none">
                    <div clas="mt-3">
                        <h6 class="fw-bolder">Client already exists on the database</h6>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="modalFirstName" class="control-label">First Name</label>
                                <input for="modalFirstName" id="modalFirstName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="modalLastName" class="control-label">Last Name</label>
                                <input for="modalLastName" id="modalLastName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="modalIdNumber" class="control-label">ID Number</label>
                                <input for="modalIdNumber" id="modalIdNumber" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="modalClientNumber" class="control-label">Client Number</label>
                                <input for="modalClientNumber" id="modalClientNumber" class="form-control" readonly />
                            </div>
                        </div>
                    </div>                
                    <div class="form-group mb-3">
                        <button type="button" id="btnAddClient" class="btn btn-primary" onclick="PostPortfolioClient()">Use this Record</button>
                        <button type="button" class="btn btn-secondary" onclick="ResetIdNumber()">Change ID Number</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="OccupationId" class="control-label"></label>
                            <select asp-for="OccupationId" class="form-control" asp-items="@Model.OccupationList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>                
                </div>

            </div>
        </div>
        <div class="form-group">
            <partial name="_CreateAddress" model="Model"/>
        </div>
        <div class="form-group">
            <partial name="_CreateCarrier" model="Model"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-secondary" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="PortfolioClients" asp-action="Index" asp-route-portfolioId="@Model.PortfolioId">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var portfolioId = '@Model.PortfolioId';
        var existingClientId = null;
        var selectedIdNumber = null;
        var duplicateFound = false;
        var duplicateIdNumber ='';

        $(document).ready(function () {
            //  Do someting here.
        });

        $('#IdNumber').focusout(function() {
            
            selectedIdNumber = $(this).val();
            if(selectedIdNumber != null && selectedIdNumber != '') {
                CheckClient(selectedIdNumber);
            }
        });

        function CheckClient(idNumber) {
            
            if(idNumber != null && idNumber != '') {
                
                $.ajax({
                    url: '@(Url.Action("GetByIdNumber", "Clients"))',
                    traditional: true,
                    dataType: "json",
                    type: 'GET',
                    data: { idNumber: idNumber },
                    error: function () {
                        alert("An error occurred.");
                    },
                    success: function (client) {
                        if(client) {
                            
                            existingClientId = client.id;
                            if (existingClientId != null && existingClientId != '') {
                                $('#ClientId').val(existingClientId);
                                $('#modalFirstName').val(client.firstName);
                                $('#modalLastName').val(client.lastName);
                                $('#modalIdNumber').val(client.idNumber);
                                $('#modalClientNumber').val(client.clientNumber);
                                duplicateFound = true;
                                duplicateIdNumber = client.idNumber;
                                $('#DivDuplicate').toggle('show');
                            }
                        } else {
                            duplicateFound = false;
                        }
                    }
                });
            }
        }

        function PostPortfolioClient() {

            if(existingClientId != null && existingClientId != '') {
                
                $.ajax({
                    url: '@(Url.Action("AddExistingClient"))',
                    type: "POST",
                    dataType: "json",
                    data: { portfolioId: portfolioId, clientId: existingClientId },
                    error: function (xhr, status, error) {
                        alert("An error has occured." + error);
                    },
                    success: function (data) {
                        $('#DivDuplicate').toggle('hide');
                        window.location.href = "/PortfolioClients/Index?portfolioId=" + portfolioId;
                    }
                });
            }
        }

        function ResetIdNumber() {
            $('#DivDuplicate').toggle('hide');
            $('#IdNumber').val('').focus();
        }
    </script>
}