@model ClientResource

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FullName = Model.FirstName + " " + Model.LastName;
}

<h1>@Model.PortfolioName</h1>

<div class="row">
    <div class="col-3">
        <div class="card text-center mb-4">
            <div class="card-body text-center">
                <div class="card-img mx-auto d-flex justify-content-center" style="max-height: 8rem;">
                    <div class="position-relative overflow-hidden rounded-circle">
                        <div style="overflow: hidden; box-sizing: border-box; display: inline-block; position: relative; width: 122px; height: 122px;">
                            <img src="~/images/user.png" alt="Client" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" />
                        </div>
                    </div>
                </div>
                <h6 class="card-title mb-3">@FullName</h6>
                <p class="card-text"><strong>@Model.IdNumber</strong></p>
                <div class="row mb-0">
                    <div class="col">
                        <p class="card-text text-muted"><small>@Model.Gender</small></p>
                    </div>
                    <div class="col">
                        <p class="card-text text-muted"><small>@Model.BirthDate.ToString("dd/MM/yyyy")</small></p>
                    </div>
                </div>
                <p class="card-text text-muted"><small>@Model.Occupation</small></p>
                <div class="form-group">
                    <a asp-action="EditClient" asp-route-portfolioId="@Model.PortfolioId" asp-route-clientId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Edit</a>
                </div>
            </div>
        </div>
        <div class="card mb-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title mb-3">Address</h6>
                    <span><i class="fas fa-map-marker-alt"></i></span> 
                </div>
                @if (Model.Address != null)
                {
                    <p class="card-text text-muted mb-0"><small>@Model.Address.PhysicalAddress</small></p>
                    <p class="card-text text-muted mb-0"><small>@Model.Address.PostalAddress</small></p>
                    <p class="card-text text-muted"><small>@Model.Address.City.Name</small></p>
                    <div class="form-group">
                        <a asp-controller="Addresses" asp-action="Edit" asp-route-portfolioId="@Model.PortfolioId" asp-route-id="@Model.Address.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Edit</a>
                    </div>
                } else {
                    <div class="form-group">
                        <a asp-controller="Addresses" asp-action="Create" asp-route-portfolioId="@Model.PortfolioId" asp-route-clientId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i> Add</a>
                    </div>
                }
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h6 class="card-title mb-3">Carriers</h6>
                    <span><i class="fas fa-envelope-open-text"></i></span> 
                </div>
                @if(Model.ClientCarriers.Any())
                { 
                    @foreach(var item in Model.ClientCarriers)
                    {
                        <div class="d-flex justify-content-center">
                            <span class="fs-6 text-muted"><small>@item.Carrier.Name</small></span>
                        </div>
                    }
                    <div class="form-group mt-3">
                        <a asp-controller="ClientCarriers" asp-action="Update" asp-route-portfolioId="@Model.PortfolioId" asp-route-clientId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Update</a>
                    </div>
                } else {
                    <span class="card-text text-muted mb-3"><small>No Carriers</small></span>
                    <div class="form-group">
                        <a asp-controller="ClientCarriers" asp-action="Create" asp-route-portfolioId="@Model.PortfolioId" asp-route-clientId="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Add</a>
                    </div>
                }
             </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title">Total Premiums</h6>
                        <div class="row">
                            <div class="col">
                                <p class="card-text font-weight-bolder mb-1 h4">$47K</p><span class="badge badge-danger rounded-pill">+3.5%</span>
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">Sat : 120</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title">Sum Insured</h6>
                        <div class="row">
                            <div class="col">
                                <p class="card-text font-weight-bolder mb-1 h4">$90K</p><span class="badge badge-primary rounded-pill">+3.5%</span>
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">Sat : 120</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title">Risks</h6>
                        <div class="row">
                            <div class="col">
                                <p class="card-text font-weight-bolder mb-1 h4">5</p><span class="badge badge-success rounded-pill">+3.5%</span>
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">Sat : 120</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title">Total Claims</h6>
                        <div class="row">
                            <div class="col">
                                <p class="card-text font-weight-bolder mb-1 h4">$0</p><span class="badge badge-warning rounded-pill">+3.5%</span>
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">Sat : 120</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                @await Component.InvokeAsync("Policy", new { portfolioClientId = @Model.PortfolioClientId })
            </div>
            <div class="col-md-3">
                <h5 class="card-header">List</h5>              
                <div class="card">
                    <div class="card-body bg-light">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item card-text"><a href="#" class="card-link link-info fs-6">Quotations</a></li>
                            <li class="list-group-item">Claims</li>
                            <li class="list-group-item">Premiums</li>
                            <li class="list-group-item">Documents</li>
                            <li class="list-group-item">Invoices</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div clss="row">
            <div class="card mb-3">
                <div class="card-header">
                    <h6 class="mb-0">Policy History</h6>
                </div>
                <div class="card-body border-top p-0">
                    <div class="row g-0 align-items-center border-bottom py-2 px-3">
                        <div class="col-md-auto pe-3"><span class="badge badge-success rounded-pill">200</span></div>
                        <div class="col-md mt-1 mt-md-0"><code>Policy Version 1</code></div>
                        <div class="col-md-auto">
                        <p class="mb-0">2019/02/23 15:29:45</p>
                        </div>
                    </div>
                    <div class="row g-0 align-items-center border-bottom py-2 px-3">
                        <div class="col-md-auto pe-3"><span class="badge badge-warning rounded-pill">400</span></div>
                        <div class="col-md mt-1 mt-md-0"><code>Policy Version 2</code></div>
                        <div class="col-md-auto">
                        <p class="mb-0">2019/02/19 21:32:12</p>
                        </div>
                    </div>
                    <div class="row g-0 align-items-center border-bottom py-2 px-3">
                        <div class="col-md-auto pe-3"><span class="badge badge-success rounded-pill">200</span></div>
                        <div class="col-md mt-1 mt-md-0"><code>Policy Version 3</code></div>
                        <div class="col-md-auto">
                        <p class="mb-0">2019/02/26 12:23:43</p>
                        </div>
                    </div>
                    <div class="row g-0 align-items-center border-bottom py-2 px-3">
                        <div class="col-md-auto pe-3"><span class="badge badge-success rounded-pill">200</span></div>
                        <div class="col-md mt-1 mt-md-0"><code>Policy Version 4</code></div>
                        <div class="col-md-auto">
                        <p class="mb-0">2019/02/12 23:32:12</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-light p-0">
                    <a class="btn btn-link d-block w-100" href="#!">View more policies
                        <span class="fas fa-chevron-right ms-1"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @await Component.InvokeAsync("ClientDocuments", new { portfolioid = @Model.PortfolioId, clientId = @Model.Id })
            </div>
            <div class="col">
                @await Component.InvokeAsync("Quotes", new { portfolioClientId = @Model.PortfolioClientId })
            </div>
        </div>
        <div class="form-group">
            <a asp-action="Search" asp-route-portfolioId="@Model.PortfolioId">Return</a>
        </div>
    </div>
</div>

@section Scripts {


} 