@model IEnumerable<QuoteItemResource>
@{
    var subTotal = 0M;
    var taxAmount = 0M;
    var totalAmount = 0M;
    var taxRate = ViewBag.TaxRate;
}

<div class="card">
    <div class="card-body p-0">
        @if (Model.Any())
        {
            <div class="form-group">
                <table id="tblQuoteItems" class="table table-sm mb-0">
                    <thead>
                        <tr>
                            <th class="px-3 align-middle">
                                <strong>Description</strong>
                            </th>
                            <th class="px-3 align-middle">
                                <strong>Cover Type</strong>
                            </th>
                            <th class="px-3 align-middle">
                                <strong>Sum Insured</strong>
                            </th>
                            <th class="px-3 align-middle">
                                <strong>Premium</strong>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="px-3 align-middle">
                                    <a asp-controller="QuoteItems" asp-action="QuoteItemRisk" asp-route-quoteItemId="@item.Id">@item.Description</a>
                                </td>
                                <td class="px-3 align-middle">@item.CoverType.Name</td>
                                @if(item.SumInsured == 0)
                                {
                                    <td class="px-3 align-middle"><p class="alert-danger">@item.SumInsured.ToString("C2")</p></td>
                                } else {
                                    <td class="px-3 align-middle">@item.SumInsured.ToString("C2")</td>
                                }
                                @if(item.Premium == 0)
                                {
                                    <td class="px-3 align-middle"><p class="alert-danger">@item.Premium.ToString("C2")</p></td>
                                } else {
                                    <td class="px-3 align-middle">@item.Premium.ToString("C2")</td>
                                }
                                
                                <td class="align-middle text-end">
                                    <button class="btn btn-link btn-sm dropdown text-reset" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-ellipsis-h text-muted"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end border py-0">
                                        <div class="bg-white py-2">
                                            <a class="dropdown-item" asp-controller="QuoteItems" asp-action="QuoteItemRisk" asp-route-quoteItemId="@item.Id">View</a>
                                            <a class="dropdown-item" asp-controller="QuoteItems" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <hr class="dropdown-divider">
                                            <a class="dropdown-item" href="#">Print</a>
                                            <a class="dropdown-item" asp-controller="QuoteItems" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            subTotal = subTotal + @item.Premium;
                            taxAmount = subTotal * taxRate/100;
                            totalAmount = subTotal + taxAmount;
                        }
                    </tbody>
                    @if (subTotal > 0)
                    {
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right"><strong>Sub total</strong></td>
                            <td class="px-3 align-middle">@subTotal.ToString("C2")</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right"><strong>VAT (@taxRate)</strong></td>
                            <td class="px-3 align-middle">@taxAmount.ToString("C2")</td>
                            <td></td>
                        </tr>
                        <tr class="alert-success">
                            <td colspan="3" class="text-right"><strong>Total</strong></td>
                            <td class="px-3 align-middle">@totalAmount.ToString("C2")</td>
                            <td></td>
                        </tr>
                    </tfoot>
                    }
                </table>
            </div>
        }
        else
        {
            <span class="text-muted">No Records Found</span>
        }

    </div>
</div>
