@model IEnumerable<OccupationResource>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if(Model.Any())
            {
<table id="tlbOccupation" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
            } else
            {
                <caption>No records Found</caption>
            }


@section Scripts {
    <script>
        $(document).ready(function() {
            $('#tlbOccupation').DataTable();
        });
    </script>

}
