@model IEnumerable<OccupationResource>

@{
    ViewData["Title"] = "Occupations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-action="Create" class="btn btn-primary"><i class="far fa-plus-square"></i></a>
    </div>
</div>

@if(Model.Any())
            {
<table id="tblOccupation" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Print</a></li>
                            <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
} else
{
    <caption>No Records Found</caption>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#tblOccupation').DataTable();
        });
    </script>
}
