@model IEnumerable<ClientResource>

<h1>@ViewData["Title"]</h1>

@if (ViewBag.PortfolioId != null)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="form-group">
            <a asp-controller="PortfolioClients" asp-action="Create" asp-route-portfolioId="@ViewBag.PortfolioId" class="btn btn-primary" type="button">Create New</a>
        </div>
    </div>
}
@if (Model.Any())
{
    
}
<table id="tblClient" class="table">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ClientNumber)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.IdNumber)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Mobile)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Email)</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="PortfolioClients" asp-action="Details" asp-route-portfolioId="@ViewBag.PortfolioId" asp-route-clientId="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
