@model IEnumerable<ClientResource>

<h1>@ViewData["Title"]</h1>

@if (ViewBag.PortfolioId != null)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="form-group">
            <a asp-controller="PortfolioClients" asp-action="Create" asp-route-portfolioId="@ViewBag.PortfolioId"><i class="far fa-plus-square"></i></a>
        </div>
    </div>
}
@if (Model.Any())
{
    
}
<table id="tblClient" class="table">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ClientNumber)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.IdNumber)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Mobile)</strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.Email)</strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="justify-content-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="PortfolioClients" asp-action="Details" asp-route-portfolioId="@ViewBag.PortfolioId" asp-route-clientId="@item.Id">View</a></li>
                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Print</a></li>
                            <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
