@model IEnumerable<PolicyResource>

@if (Model.Any())
{
    <table id="tblPolicy" class="table">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PolicyNumber)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Insurer)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.CoverStartDate)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.CoverEndDate)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PolicyStatus)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Insurer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyStatus)
                    </td>
                    <td class="justify-content-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Policies" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                                <li><a class="dropdown-item" asp-controller="Policies" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i> Edit</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                                <li><a class="dropdown-item" asp-controller="Policies" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Records Found</caption>
}
