@model ClientGiroResource
@using Tilbake.Domain.Enums;

@{
    ViewData["Title"] = @Model.PortfolioName;
}
<h1>@ViewData["Title"]</h1>
<br />

<div class="d-flex justify-content-center">
    <div class="col-md-9">
        <form asp-action="ClientFileTemplate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PortfolioId" />
            <input type="hidden" asp-for="FileTemplateId" />
            <input type="hidden" asp-for="TableName" />
            <input type="hidden" asp-for="TitleId" />
            <input type="hidden" asp-for="ClientTypeId" />
            <input type="hidden" asp-for="FirstNameId" />
            <input type="hidden" asp-for="LastNameId" />
            <input type="hidden" asp-for="BirthDateId" />
            <input type="hidden" asp-for="GenderId" />
            <input type="hidden" asp-for="IdNumberId" />
            <input type="hidden" asp-for="PhoneId" />
            <input type="hidden" asp-for="MaritalStatusId" />
            <input type="hidden" asp-for="CountryId" />
            <input type="hidden" asp-for="OccupationId" />
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h5>@Model.FileTemplate</h5>
                        <div> @Model.TableName</div>
                    </div>
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label for="Field" class="control-label"><strong>Field Name</strong></label>
                        </div>
                        <div class="col-4">
                            <label for="Position" class="control-label"><strong>Position</strong></label>
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <label for="Length" class="control-label">Length</label>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="TitleFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="TitlePosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="TitleColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="ClientTypeFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="ClientTypePosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="ClientTypeColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="FirstNameFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="FirstNamePosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="FirstNameColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="LastNameFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="LastNamePosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="LastNameColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="BirthDateFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="BirthDatePosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="BirthDateColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="GenderFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="GenderPosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="GenderColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="IdNumberFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="IdNumberPosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="IdNumberColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="PhoneFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="PhonePosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="PhoneColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="MaritalStatusFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="MaritalStatusPosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="MaritalStatusColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="CountryFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="CountryPosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="CountryColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="OccupationFieldLabel" class="control-label"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="OccupationPosition" class="form-control upperCase" />
                        </div>
                        @if (Model.FileType == FileType.FixedLengthDelimited)
                        {
                            <div class="col-4">
                                <input asp-for="OccupationColumnLength" class="form-control" />
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-secondary" />
                    </div>
                </div>

            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <a asp-controller="FileTemplates" asp-action="Index" asp-route-portfolioId="@Model.PortfolioId">Return</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {  
            $('input[type=text]').keyup(function () {  
                $(this).val($(this).val().toUpperCase());  
            });  
        }); 
    </script>
}