@model IEnumerable<FileTemplateResource>

@{
    ViewData["Title"] = "File Template";
    var portfolioId = ViewBag.PortfolioId;
    var portfolioName = ViewBag.Portfolio;
}

<h1>@portfolioName File Template</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-action="Create" asp-route-portfolioId="@portfolioId"><i class="far fa-plus-square"></i></a>
    </div>
</div>

@if (Model.Any())
{
    <table id="tblFileTemplate" class="display">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </th>
                <th>
                    <strong> @Html.DisplayNameFor(model => model.FileType)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Delimiter)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delimiter)
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="dropdown" aria-expanded="false">
                                More...
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="SelectTable"
                                                            asp-route-portfolioId="@portfolioId"
                                                            asp-route-fileTemplateId="@item.Id"
                                                            asp-route-fileType="@item.FileType">Select Table</a></li>
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i> Edit</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                                <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Records Found</caption>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblFileTemplate').DataTable();
        });
    </script>

}