@model IEnumerable<FileTemplateResource>

@{
    ViewData["Title"] = "File Template";
    var portfolioId = ViewBag.PortfolioId;
}

<h1>File Template</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-action="Create" asp-route-portfolioId="@portfolioId"><i class="far fa-plus-square"></i></a>
    </div>
</div>

@if (Model.Any())
{
    <table id="tblFileTemplate" class="display">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </th>
                <th>
                    <strong> @Html.DisplayNameFor(model => model.FileFormat)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Delimiter)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="SelectTable"
                           asp-route-portfolioId="@portfolioId"
                           asp-route-fileTemplateId="@item.Id"
                           asp-route-fileFormat="@item.FileFormat">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileFormat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delimiter)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Records Found</caption>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblFileTemplate').DataTable();
        });
    </script>

}