@model IEnumerable<PolicyViewModel>

<div class="card mb-3 p-0">
    <div class="card-header">
        <h6 class="mb-0">Policy History</h6>
    </div>
    <div class="card-body border-top p-0">
        @if (Model.Any())
        {
            <table id="tblPolicy" class="table table-sm mb-0">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <strong>@Html.DisplayNameFor(model => model.PolicyNumber)</strong>
                        </th>
                        <th>
                            Insurer
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CoverStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CoverEndDate)
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="align-items-center py-2 px-3 text-muted">
                            <td>
                                <span class="badge badge-success rounded-pill">200</span>
                            </td>
                            <td class="mt-1 mt-md-0">
                                <code>@Html.DisplayFor(modelItem => item.PolicyNumber)</code>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InsurerBranch.Insurer.Name)
                            </td>
                            <td>
                                @item.CoverStartDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.CoverEndDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PolicyStatus.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="card-footer bg-light p-0">
        <a class="btn btn-link d-block w-100" href="#!">View more policies
            <span class="fas fa-chevron-right ms-1"></span>
        </a>
    </div>
</div>

