@model PolicyViewModel
@{
}

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h6 class="card-title mb-3">Policy</h6>
            <div class="dropdown position-static">
                <button class="btn btn-link btn-sm dropdown text-reset" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-ellipsis-h text-muted"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end border py-0">
                    <div class="bg-white py-2">
                        <a class="dropdown-item" href="#!">Edit</a>
                        <a class="dropdown-item text-danger" href="#!">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            <table class="table table-sm py-2">
                <tbody>
                    <tr>
                        <th><strong>Policy Number</strong></th>
                        <td>@Model.PolicyNumber</td>
                    </tr>
                    <tr>
                        <th><strong>Insurer Number</strong></th>
                        <td>@Model.InsurerPolicyNumber</td>
                    </tr>
                    <tr>
                        <th><strong>Insurer</strong></th>
                        <td>@Model.InsurerName</td>
                    </tr>
                    <tr>
                        <th><strong>Cover Start Date</strong></th>
                        <td>@Model.CoverStartDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th><strong>Cover End Date</strong></th>
                        <td>@Model.CoverEndDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th><strong>Inception Date</strong></th>
                        <td>@Model.InceptionDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th><strong>Status</strong></th>
                        <td>@Model.PolicyStatus.Name</td>
                    </tr>
                    <tr>
                        <th><strong>Type</strong></th>
                        <td>@Model.PolicyType.Name</td>
                    </tr>
                    <tr>
                        <th><strong>Payment Method</strong></th>
                        <td>@Model.PaymentMethod.Name</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <a asp-controller="Policies" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-dark btn-sm"><i class="far fa-edit"></i> Details</a>
            </div>
        }
    </div>
</div>