@model IEnumerable<QuoteViewModel>

<div class="card mb-3">
    <div class="card-body">
        <h6 class="card-title mb-3">Quotes</h6>
        @if (Model.Any())
        {
            <table id="tlbQuote" class="table table-sm py-2">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Quotes" asp-action="Details" asp-route-id="@item.Id">@item.QuoteNumber</a>
                            </td>
                            <td>
                                @item.QuoteDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.QuoteStatus.Name
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div class="form-group">
            <a asp-controller="Quotes" asp-action="Create" asp-route-portfolioClientId="@ViewBag.PortfolioClientId" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i> New Quote</a>
        </div>
    </div>
</div>
