@model ClientResource

@{
    ViewData["Title"] = Model.PortfolioName;
}

<h1>@ViewData["Title"]</h1>

<h4>Edit Client</h4>
<hr />
<div class="row">
    <div class="col-9">
        <form asp-controller="PortfolioClients" asp-action="Edit" asp-route-portfolioId="@Model.PortfolioId" asp-route-clientId="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="PortfolioId" type="hidden" />
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="TitleId" class="control-label"></label>
                        <select asp-for="TitleId" class="form-control" asp-items="@Model.TitleList">
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ClientTypeId" class="control-label"></label>
                        <select asp-for="ClientTypeId" class="form-control" asp-items="@Model.ClientTypeList"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="GenderId" class="control-label"></label>
                        <select asp-for="GenderId" class="form-control" asp-items="@Model.GenderList"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="IdNumber" class="control-label"></label>
                        <input asp-for="IdNumber" class="form-control" />
                        <span asp-validation-for="IdNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="MaritalStatusId" class="control-label"></label>
                        <select asp-for="MaritalStatusId" class="form-control" asp-items="@Model.MaritalStatusList"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CountryId" class="control-label"></label>
                        <select asp-for="CountryId" class="form-control" asp-items="@Model.CountryList"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="OccupationId" class="control-label"></label>
                        <select asp-for="OccupationId" class="form-control" asp-items="@Model.OccupationList"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-3">
        <div class="form-group mb-3">
            <div class="justify-content-center">
                <p class="bg-primary font-weight-bolder text-white p-2 mb-1">Carriers</p>
            </div>
            <div class="p-3 bg-light">

                @if (Model.ClientCarriers.Any())
                {
                    <ul class="bg-light">
                        @foreach (var item in Model.ClientCarriers)
                        {
                            <li><small>@item.Carrier.Name</small></li>
                        }
                    </ul>
                }
                else
                {
                    <p>No Carriers</p>
                }
                <div class="form-group">
                    <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#carrierModal">Add Carrier</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="justify-content-center">
                <p class="bg-primary font-weight-bolder text-white p-2 mb-1">Address</p>
            </div>
            <div class="p-3 bg-light">
                @if (Model.Address != null)
                {
                    <dl>
                        <dd id="sidePhysicalAddress" class="mb-0">
                            <small>@Model.Address.PhysicalAddress</small>
                        </dd>
                        <dd id="sidePhysicalAddress" class="mb-0">
                            <small>@Model.Address.PostalAddress</small>
                        </dd>
                        <dd id="sideCity">
                            <small>@Model.Address.CityName</small>
                        </dd>
                    </dl>
                }
                <div class="form-group">
                    <button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#addressModal">Add Address</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-controller="PortfolioClients" asp-action="Index" asp-route-portfolioId="@Model.PortfolioId">Back to Portfolio Clients</a>
</div>

<!-- Address Modal -->
<div class="modal fade" id="addressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="addressModalLabel">
                    Address
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="PhysicalAddress" class="control-label">Physical Address</label>
                            <input for="PhysicalAddress" id="PhysicalAddress" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="PostalAddress" class="control-label">Postal Address</label>
                            <input for="PostalAddress" id="PostalAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="AddressCountryId" class="control-label"></label>
                            <select for="AddressCountryId" id="AddressCountryId" class="form-control" items=""></select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="CityId" class="control-label"></label>
                            <select for="CityId" id="CityId" class="form-control" items=""></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddAddress" class="btn btn-primary" onclick="PostAddress()">Save this record</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var selectedClientId = '@Model.Id';

        $(document).ready(function () {
            // Do something here.
        });

        $("#AddressCountryId").change(function () {
            var selectedCountryId = $("#AddressCountryId option:selected").val();

            $.ajax({
                url: '@(Url.Action("GetCities", "Cities"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { countryId: selectedCountryId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (cities) {

                    $("#CityId").empty();   // clear before appending new list
                    $.each(cities, function (index, city) {
                        $('#CityId').append($('<option></option>').val(city.id).html(city.name));
                    });
                }
            });
        });

        $('#addressModal').on('show.bs.modal', function (e) {

            LoadCountries();
            $('#PhysicalAddress').val('');
            $('#PostalAddress').val('');
        });

        function LoadAddress() {

            $.ajax({
                url: '@(Url.Action("GetByClientId", "Addresses"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { clientId: selectedClientId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (address) {
                    $('#sidePhysicalAddress').val(address.physicalAddress);
                    $('#sidePostalAddress').val(address.postalAddress);
                    $('#sideCity').val(address.cityName);
                }
            });
        }

        function LoadCountries() {

            $.ajax({
                url: '@(Url.Action("GetCountries", "Countries"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                error: function () {
                    alert("An error occurred.");
                },
                success: function (countries) {

                    $("#AddressCountryId").empty();   // clear before appending new list
                    $.each(countries, function (index, country) {
                        $('#AddressCountryId').append($('<option></option>').val(country.id).html(country.name));
                    });
                }
            });
        }

        function PostAddress() {
            var selectedCityId = $("#CityId option:selected").val();
            //  1. Build address object to match model class Address.cs
            var address = {
                PhysicalAddress: $('#PhysicalAddress').val(),
                PostalAddress: $('#PostalAddress').val(),
                CityId: selectedCityId,
                ClientId: '@Model.Id',
                CompanyId: null,
                LossAdjusterId: null,
                RepairerId: null,
                TracingAgentId: null,
                AttorneyId: null,
                ThirdPartyId: null,
                TowTruckId: null,
                RoadsideAssistId: null
            };

            //  2. Call POST
            $.ajax({
                url: '@(Url.Action("PostAddress", "Addresses"))',
                type: "POST",
                dataType: "JSON",
                traditional: true,
                data: address,
                success: function (address) {

                    LoadAddress();
                    // Unload modal
                    $('#addressModal').modal('hide');
                },
                error: function (message) {
                    console.log(message.statusText);
                }
            });
        };
    </script>
}