@model ClientResource

@{
    ViewData["Title"] = Model.PortfolioName;
}

<h1>@ViewData["Title"]</h1>

<h4>Edit Client</h4>
<hr />
<div class="row">
    <div class="col-9">
        <form asp-controller="PortfolioClients" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="PortfolioId" type="hidden" />
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="TitleId" class="control-label"></label>
                        <select asp-for="TitleId" class="form-control" asp-items="@Model.TitleList">
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ClientTypeId" class="control-label"></label>
                        <select asp-for="ClientTypeId" class="form-control" asp-items="@Model.ClientTypeList"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="GenderId" class="control-label"></label>
                        <select asp-for="GenderId" class="form-control" asp-items="@Model.GenderList"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="IdNumber" class="control-label"></label>
                        <input asp-for="IdNumber" class="form-control" />
                        <span asp-validation-for="IdNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="MaritalStatusId" class="control-label"></label>
                        <select asp-for="MaritalStatusId" class="form-control" asp-items="@Model.MaritalStatusList"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CountryId" class="control-label"></label>
                        <select asp-for="CountryId" class="form-control" asp-items="@Model.CountryList"></select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="OccupationId" class="control-label"></label>
                        <select asp-for="OccupationId" class="form-control" asp-items="@Model.OccupationList"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-3">
        <div class="form-group mb-3">
            <div class="justify-content-center">
                <p class="bg-primary font-weight-bolder text-white p-2 mb-1">Carriers</p>
            </div>
            <div class="p-2 bg-light">
                <ul class="bg-light">
                    @foreach (var item in Model.ClientCarrierResources)
                    {
                        <li><small>@item.Carrier.Name</small></li>
                    }
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="justify-content-center">
                <p class="bg-primary font-weight-bolder text-white p-2 mb-1">Address</p>
            </div>
            <div class="p-2 bg-light">
                <address>
                    <small>
                        <strong>Physical Address</strong><br />
                        Postal Address<br />
                        City<br />
                    </small>
                </address>

            </div>

        </div>

    </div>
</div>

<!-- Flexbox container for aligning the toasts -->
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">

    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

</script>
}