@model IEnumerable<InsurerResource>

@{
    ViewData["Title"] = "Insurers";
}

<h1>@ViewData["Title"]</h1>

<div class="d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-action="Create" class="btn btn-primary">New Insurer</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Insurers</h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div class="d-none" id="table-customers-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>
                <div id="table-customers-replace-element">
                    <button class="btn btn-outline-secondary btn-sm" type="button">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">New</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-sm mx-2" type="button">
                        <span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">Filter</span>
                    </button>
                    <button class="btn btn-outline-secondary btn-sm" type="button">
                        <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">Export</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Any())
    {
        <div class="card-body p-0">
            <table id="tblInsurer" class="table table-sm fs--1 mb-0 overflow-hidden">
                <thead class="bg-200 text-900">
                    <tr>
                        <th class="sort px-3 align-middle white-space-nowrap" data-sort="name">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle white-space-nowrap px-3">
                                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                            </td>
                            <td class="align-middle white-space-nowrap text-end">
                                <div class="dropdown font-sans-serif position-static">
                                    <button class="btn btn-link text-600 btn-sm dropdown btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
                                        <span class="fas fa-ellipsis-h fs--1"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="customer-dropdown-1">
                                        <div class="bg-white py-2">
                                            <a class="dropdown-item" href="#!">Edit</a>
                                            <a class="dropdown-item text-danger" href="#!">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-center">
            <button class="btn btn-sm btn-outline-secondary me-1 disabled" type="button" title="Previous" data-list-pagination="prev" disabled="">
                <span class="fas fa-chevron-left"></span> 
            </button>
            <ul class="pagination mb-0">
                <li class="active">
                    <button class="btn btn-outline-secondary btn-sm ms-1" type="button" data-i="1" data-page="10">1</button>
                </li>
                <li>
                    <button class="btn btn-outline-secondary btn-sm ms-1" type="button" data-i="2" data-page="10">2</button>
                </li>
                <li>
                    <button class="btn btn-outline-secondary btn-sm ms-1" type="button" data-i="3" data-page="10">3</button>
                </li>
            </ul>
            <button class="btn btn-sm btn-outline-secondary ms-1" type="button" title="Next" data-list-pagination="next">
                <span class="fas fa-chevron-right"></span>
            </button>
        </div>
    }
    else
    {
        <caption>No records Found</caption>
    }    

</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        @Html.DisplayFor(modelItem => item.Name)
                    </button>
                    </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        @foreach (var itemList in item.InsurerBranches)
                        {
                            <p>@itemList.Name</p>
                        }
                    </div>
                </div>
            </div>
        }

    }
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Return</a>
</div>

@section Scripts {
    <script>
        //$(document).ready(function () {
        //    $('#tblInsurer').DataTable();
        //});
    </script>
}
