@model IEnumerable<InsurerResource>

@{
    ViewData["Title"] = "Insurers";
}

<h1>@ViewData["Title"]</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-action="Create" class="btn btn-primary"><i class="far fa-plus-square"></i></a>
    </div>
</div>

@if (Model.Any())
{
    <table id="tblInsurer" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td class="d-flex justify-content-end">
                        <div class="btn-group">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="dropdown" aria-expanded="false">
                                More...
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i> Edit</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                                <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No records Found</caption>
}

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

@section Scripts {
    <script>
        //$(document).ready(function () {
        //    $('#tblInsurer').DataTable();
        //});
    </script>
}
