@model PolicySaveResource

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4 offset-md-8 bd-highlight mb-3">
    <div class="mr-auto p-2 bg-light">
        <h1>Policy</h1>
        <dl class="row">
            <dt class="col-6">
                Date:
            </dt>
            <dd class="col-6">
                @DateTime.Now.Date.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-6">
                Policy Number:
            </dt>
            <dd class="col-6">
                0
            </dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-md-end">
    <div class="form-group">
        <input type="button" id="btnCreatePolicy" class="btn btn-primary invisible" value="Create Policy" />
    </div>
</div>
<div id="Message"></div>
<div class="row">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="InsurerId" class="control-label"></label>
                <select asp-for="InsurerId" class="form-control" asp-items="Model.InsurerList"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="InsurerPolicyNumber" class="control-label"></label>
                <input asp-for="InsurerPolicyNumber" class="form-control" />
                <span asp-validation-for="InsurerPolicyNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="PolicyTypeId" class="control-label"></label>
                <select asp-for="PolicyTypeId" class="form-control" asp-items="Model.PolicyTypeList"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="RunDay" class="control-label"></label>
                <input asp-for="RunDay" class="form-control" />
                <span asp-validation-for="RunDay" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="CoverStartDate" class="control-label"></label>
                <input type="date" asp-for="CoverStartDate" class="form-control" />
                <span asp-validation-for="CoverStartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="CoverEndDate" class="control-label"></label>
                <input type="date" asp-for="CoverEndDate" class="form-control" readonly/>
                <span asp-validation-for="CoverEndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="InceptionDate" class="control-label"></label>
                <input type="date" asp-for="InceptionDate" class="form-control" readonly/>
                <span asp-validation-for="InceptionDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="PolicyStatusId" class="control-label"></label>
                <select asp-for="PolicyStatusId" class="form-control" asp-items="Model.PolicyStatusList"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="SalesTypeId" class="control-label"></label>
                <select asp-for="SalesTypeId" class="form-control" asp-items="Model.SalesTypeList"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select asp-for="PaymentMethodId" class="form-control" asp-items="Model.PaymentMethodList"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea  asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>


<div class="p-2 bg-light mb-3">
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#allRiskModal">All Risks</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#contentModal">Contents</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#houseModal">House</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#motorModal">Motor</button>
</div>

<div class="row">
    <div class="form-group">
        <table id="tblCart" class="table invisible">
            <thead>
                <tr>
                    <th>
                        <strong>Description</strong>
                    </th>
                    <th>
                        <strong>Cover Type</strong>
                    </th>
                    <th>
                        <strong>Sum Insured</strong>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="form-group">
        <div id="ErrorMsg" class="invisible">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<!-- All Risks Modal -->
<div class="modal fade" id="allRiskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="allRiskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="allRiskModalLabel">
                    All Risks
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Description</label>
                            <input asp-for="Description" id="Description" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="AllRiskSumInsured" class="control-label"></label>
                                <input asp-for="AllRiskSumInsured" id="AllRiskSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="AllRiskCoverTypeId" class="control-label"></label>
                                <select asp-for="AllRiskCoverTypeId" id="AllRiskCoverTypeId" class="form-control" asp-items="Model.CoverTypeList">
                                    <option value="">Select Cover Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddAllRisk" class="btn btn-primary" onclick="LoadAllRisks()">Save this record</button>
            </div>
        </div>
    </div>
</div>


<!-- Content Modal -->
<div class="modal fade" id="contentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="contentModalLabel">
                    Contents
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Content.PhysicalAddress" class="control-label">Physical Address</label>
                            <input asp-for="Content.PhysicalAddress" id="ContentPhysicalAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.ResidenceTypeId" class="control-label">Residence Type</label>
                            <select asp-for="Content.ResidenceTypeId" id="ContentResidenceTypeId" class="form-control" asp-items="Model.ResidenceTypeList">
                                <option value="">Select Residence Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.ResidenceUseId" class="control-label">Residence Type</label>
                            <select asp-for="Content.ResidenceUseId" id="ContentResidenceUseId" class="form-control" asp-items="Model.ResidenceUseList">
                                <option value="">Select Residence Use</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.WallTypeId" class="control-label">Wall Type</label>
                            <select asp-for="Content.WallTypeId" id="ContentWallTypeId" class="form-control" asp-items="Model.WallTypeList">
                                <option value="">Select Wall Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Content.RoofTypeId" class="control-label">Roof Type</label>
                            <select asp-for="Content.RoofTypeId" id="ContentRoofTypeId" class="form-control" asp-items="Model.RoofTypeList">
                                <option value="">Select Roof Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ContentSumInsured" class="control-label"></label>
                                <input asp-for="ContentSumInsured" id="ContentSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ContentCoverTypeId" class="control-label"></label>
                                <select asp-for="ContentCoverTypeId" id="ContentCoverTypeId" class="form-control" asp-items="Model.CoverTypeList">
                                    <option value="">Select Cover Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnContentRisk" class="btn btn-primary" onclick="LoadContents()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- House Modal -->
<div class="modal fade" id="houseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="houseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="houseModalLabel">
                    House
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="House.PhysicalAddress" class="control-label">Physical Address</label>
                            <input asp-for="House.PhysicalAddress" id="HousePhysicalAddress" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.ResidenceTypeId" class="control-label">Residence Type</label>
                            <select asp-for="House.ResidenceTypeId" id="HouseResidenceTypeId" class="form-control" asp-items="Model.ResidenceTypeList">
                                <option value="">Select Residence Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.HouseConditionId" class="control-label">House Condition</label>
                            <select asp-for="House.HouseConditionId" id="HouseConditionId" class="form-control" asp-items="Model.HouseConditionList">
                                <option value="">Select House Condition</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.WallTypeId" class="control-label">Wall Type</label>
                            <select asp-for="House.WallTypeId" id="HouseWallTypeId" class="form-control" asp-items="Model.WallTypeList">
                                <option value="">Select Wall Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="House.RoofTypeId" class="control-label">Roof Type</label>
                            <select asp-for="House.RoofTypeId" id="HouseRoofTypeId" class="form-control" asp-items="Model.RoofTypeList">
                                <option value="">Select Roof Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6 border bg-light mb-3 py-2">
                    <div class="row gx-6">
                        <div class="col">
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="House.BurglarAlarm" type="checkbox" id="BurglarAlarm">
                                    <label class="form-check-label" asp-for="House.BurglarAlarm">Burglar Alarm</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline form-switch">
                                    <input class="form-check-input" asp-for="House.BurglarBars" type="checkbox" id="BurglarBars">
                                    <label class="form-check-label" asp-for="House.BurglarBars">Alarm</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="HouseSumInsured" class="control-label"></label>
                                <input asp-for="HouseSumInsured" id="HouseSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="HouseCoverTypeId" class="control-label"></label>
                                <select asp-for="HouseCoverTypeId" id="HouseCoverTypeId" class="form-control" asp-items="Model.CoverTypeList">
                                    <option value="">Select Cover Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnHouseRisk" class="btn btn-primary" onclick="LoadHouses()">Save this record</button>
            </div>
        </div>
    </div>
</div>

<!-- Motor Modal -->
<div class="modal fade" id="motorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="motorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered needs-validation" role="document" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="motorModalLabel">
                    Motor Details
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="MotorError"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Motor.RegNumber" class="control-label">Registration Number</label>
                            <input asp-for="Motor.RegNumber" id="RegNumber" class="form-control text-uppercase" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Motor.BodyTypeId" class="control-label">Body Type</label>
                            <select asp-for="Motor.BodyTypeId" id="BodyTypeId" class="form-control" asp-items="Model.BodyTypeList">
                                <option value="">Select Body Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="Motor.Colour" class="control-label">Colour</label>
                            <input asp-for="Motor.Colour" id="Colour" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="MotorMakeId" class="control-label">Make</label>
                            <select asp-for="MotorMakeId" id="MotorMakeId" class="form-control" asp-items="Model.MotorMakeList">
                                <option value="">Select Motor Make</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Motor.MotorModelId" class="control-label">Model</label>
                            <select asp-for="Motor.MotorModelId" id="MotorModelId" class="form-control" asp-items="Model.MotorModelList">
                                <option value="">Select Motor Model</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label asp-for="Motor.RegYear" class="control-label">Year</label>
                            <select asp-for="Motor.RegYear" id="RegYear" class="form-control" asp-items="Model.DateRangeList">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Motor.DriverTypeId" class="control-label">Driver Type</label>
                            <select asp-for="Motor.DriverTypeId" id="DriverTypeId" class="form-control" asp-items="Model.DriverTypeList">
                                <option value="">Select Driver Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.EngineNumber" class="control-label">Engine Number</label>
                            <input asp-for="Motor.EngineNumber" id="EngineNumber" class="form-control text-uppercase" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.ChassisNumber" class="control-label">Chassis Number</label>
                            <input asp-for="Motor.ChassisNumber" id="ChassisNumber" class="form-control text-uppercase" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Motor.EngineCapacity" class="control-label">Engine Capacity</label>
                            <input asp-for="Motor.EngineCapacity" id="EngineCapacity" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Motor.MotorUseId" class="control-label">Motor Use</label>
                            <select asp-for="Motor.MotorUseId" id="MotorUseId" class="form-control" asp-items="Model.MotorUseList">
                                <option value="">Select Motor Use</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 border bg-light mb-3 py-2">
                        <div class="row gx-6">
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-switch">
                                        <input class="form-check-input" asp-for="Motor.IsImport" type="checkbox" id="IsImport">
                                        <label class="form-check-label" asp-for="Motor.IsImport">Grey Import</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-switch">
                                        <input class="form-check-input" asp-for="Motor.IsSecurityFitting" type="checkbox" id="IsSecurityFitting">
                                        <label class="form-check-label" asp-for="Motor.IsSecurityFitting">Security Fitting</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-switch">
                                        <input class="form-check-input" asp-for="Motor.IsTrackingDevice" type="checkbox" id="IsTrackingDevice">
                                        <label class="form-check-label" asp-for="Motor.IsTrackingDevice">Tracking Device</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-switch">
                                        <input class="form-check-input" asp-for="Motor.IsImmobiliser" type="checkbox" id="IsImmobiliser">
                                        <label class="form-check-label" asp-for="Motor.IsImmobiliser">Immobiliser</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-switch ">
                                        <input class="form-check-input" asp-for="Motor.IsAlarm" type="checkbox" id="IsAlarm">
                                        <label class="form-check-label" asp-for="Motor.IsAlarm">Alarm</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container border bg-light p-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="MotorSumInsured" class="control-label"></label>
                                <input asp-for="MotorSumInsured" id="MotorSumInsured" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="MotorCoverTypeId" class="control-label"></label>
                                <select asp-for="MotorCoverTypeId" id="MotorCoverTypeId" class="form-control" asp-items="Model.CoverTypeList">
                                    <option value="">Select Cover Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnAddMotor" class="btn btn-primary" onclick="LoadMotors()">Save this record</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var portfolioClientId = '@Model.PortfolioClientId';
        var clientId = '@Model.ClientId';
        var startDate = '';
        var allRisks = [];
        var contents = [];
        var houses = [];
        var motors = [];
        var policyRisks = [];
        var riskItems = [];
        var policyId = uuidv4();

        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $(document).ready(function () {
            startDate = new Date($('#CoverStartDate').val());
            if(startDate != '' && startDate != null)
            {
                setEndDate(startDate);
            }
        });

        $('#CoverStartDate').change(function () {
            startDate = new Date($(this).val());
            if(startDate != '' && startDate != null)
            {
                setEndDate(startDate);
            }
        });

        function setEndDate()
        {
            var year = startDate.getFullYear();
            var month = ('0' + (startDate.getMonth() + 1)).slice(-2);
            var day = ('0' + startDate.getDate()).slice(-2);

            var addYearDate = new Date(year + 1, month - 1, day);
            
            var insurerEndDate = new Date(addYearDate);
            insurerEndDate.setDate(insurerEndDate.getDate() - 1);

            var newDay = ('0' + insurerEndDate.getDate()).slice(-2);
            var newMonth = ('0' + (insurerEndDate.getMonth() + 1)).slice(-2);
            
            var formattedDate = insurerEndDate.getFullYear()+'-'+(newMonth)+'-'+(newDay);
            var formattedCurrentDate = year+'-'+(month)+'-'+(day) ;

            $('#CoverEndDate').val(formattedDate);
            $('#InceptionDate').val(formattedCurrentDate);
        }

        $("#MotorMakeId").change(function () {
            var selectedMotorMakeId = $("#MotorMakeId option:selected").val();

            $.ajax({
                url: '@(Url.Action("GetMotorModels", "MotorModels"))',
                traditional: true,
                dataType: "JSON",
                type: 'GET',
                data: { motorMakeId: selectedMotorMakeId },
                error: function () {
                    alert("An error occurred.");
                },
                success: function (models) {

                    $("#MotorModelId").empty();   // clear before appending new list
                    $.each(models, function (index, model) {
                        $('#MotorModelId').append($('<option></option>').val(model.id).html(model.name));
                    });
                }
            });
        });

        function LoadAllRisks() {
            var clientRiskId = uuidv4();
            var description = $('#Description').val();
            var sumInsured = $('#AllRiskSumInsured').val();
            var coverType = $('#AllRiskCoverTypeId option:selected').text();
            var riskItemId = uuidv4();

            //  1. Build RiskItem Array to match model class RiskItem
            var riskItem = {
                Id: riskItemId,
                Description: description
            }

            //  2. Build AllRisk Array to match model class AllRisk
            var allRisk = {
                Id: clientRiskId,
                RiskItemid: riskItemId
            }
            //  3. Build PolicyItem Array to match model class PolicyItem
            var policyRisk = {
                Id: uuidv4(),
                PolicyId: policyId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#AllRiskCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  4. Append to the Arrays
            allRisks.push(allRisk);
            policyRisks.push(policyRisk);
            riskItems.push(riskItem);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadContents() {
            var clientRiskId = uuidv4();
            var description = $('#ContentName').val();
            var sumInsured = $('#ContentSumInsured').val();
            var coverType = $('#ContentCoverTypeId option:selected').text();

            //  1. Build Content Array to match model class Content
            var content = {
                Id: clientRiskId,
                RoofTypeId: $('#ContentRoofTypeId option:selected').val(),
                WallTypeId: $('#ContentWallTypeId option:selected').val(),
                Name: description,
                PhysicalAddress: $('#ContentPhysicalAddress').val(),
                ResidenceTypeId: $('#ContentResidenceTypeId option:selected').val(),
                ResidenceUseId: $('#ContentResidenceUseId option:selected').val()
            }

            //  2. Build PolicyItem Array to match model class PolicyItem
            var policyRisk = {
                Id: uuidv4(),
                PolicyId: policyId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#ContentCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            contents.push(content);
            policyRisks.push(policyRisk);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadHouses() {
            var clientRiskId = uuidv4();
            var description = $('#HousePhysicalAddress').val();
            var sumInsured = $('#HouseSumInsured').val();
            var coverType = $('#HouseCoverTypeId option:selected').text();

            //  1. Build House Array to match model class House
            var house = {
                Id: clientRiskId,
                PhysicalAddress: description,
                ResidenceTypeId: $('#HouseResidenceTypeId option:selected').val(),
                RoofTypeId: $('#HouseRoofTypeId option:selected').val(),
                WallTypeId: $('#HouseWallTypeId option:selected').val(),
                HouseConditionId: $('#HouseConditionId option:selected').val(),
                BurglarAlarm: $('#BurglarAlarm').val(),
                BurglarBars: $('#BurglarAlarm').val()
            }

            //  2. Build PolicyItem Array to match model class PolicyItem
            var policyRisk = {
                Id: uuidv4(),
                PolicyId: policyId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#HouseCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            houses.push(house);
            policyRisks.push(policyRisk);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        function LoadMotors() {
            if(!$('#RegNumber').val()) {
                $('#MotorError').append('<p class="fw-bolder text-center text-danger">Registration Number cannot be blank.</p>');
                $('#MotorError').show();
                $('#MotorError').delay(3000).queue(function (n) {
                    $(this).fadeOut();
                    $('#MotorError').empty();
                    n();
                });
                return;
            }

            var clientRiskId = uuidv4();
            var description = $('#RegYear').val() + ' ' + $('#MotorMakeId option:selected').text() + ' ' + $('#RegNumber').val();
            var sumInsured = $('#MotorSumInsured').val();
            var coverType = $('#MotorCoverTypeId option:selected').text();

            //  1. Build Motor Array to match model class Motor
            var motor = {
                Id: clientRiskId,
                RegNumber: $('#RegNumber').val(),
                BodyTypeId: $('#BodyTypeId option:selected').val(),
                MotorModelId: $('#MotorModelId option:selected').val(),
                RegYear: $('#RegYear').val(),
                DriverTypeId: $('#DriverTypeId option:selected').val(),
                EngineNumber: $('#EngineNumber').val(),
                ChassisNumber: $('#ChassisNumber').val(),
                EngineCapacity: $('#EngineCapacity').val(),
                Colour: $('#Colour').val(),
                MotorUseId: $('#MotorUseId option:selected').val(),
                IsImport: $('#IsImport').val(),
                IsSecurityFitting: $('#IsSecurityFitting').val(),
                TrackingDevice: $('#IsTrackingDevice').val(),
                IsImmobiliser: $('#IsImmobiliser').val(),
                IsAlarm: $('#IsAlarm').val()
            };

            //  2. Build PolicyItem Array to match model class PolicyItem
            var policyRisk = {
                Id: uuidv4(),
                PolicyId: policyId,
                ClientRiskId: clientRiskId,
                CoverTypeId: $('#MotorCoverTypeId option:selected').val(),
                Description: description,
                SumInsured: sumInsured,
                Premium: 0,
                Excess: '',
                CoverType: coverType
            }

            //  3. Append to the Arrays
            motors.push(motor);
            policyRisks.push(policyRisk);

            AddToCart(clientRiskId, description, coverType, sumInsured);
        }

        $('#btnCreatePolicy').click(function () {
            var cartItems = $('#tblCart tbody tr');
            var numCart = cartItems.length;

            $("#ErrorMsg").empty();

            if (numCart == 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Cart is empty</label>');
                return;
            };
            $("#ErrorMsg").removeClass("text-danger visible").addClass("invisible");

            GeneratePolicy();
        });

        function ResetBtnCreatePolicy() {
            var cartItems = $('#tblCart tbody tr').length;
            if (cartItems == 0) {
                $('#tblCart').removeClass("visible").addClass("invisible");
                $('#btnCreatePolicy').removeClass("visible").addClass("invisible");
            } else {
                $('#btnCreatePolicy').removeClass("invisible").addClass("visible");
                $('#tblCart').removeClass("invisible").addClass("table visible");
            }
        }

        function AddToCart(clientRiskId, description, coverType, sumInsured) {

            $("#ErrorMsg").empty();
            var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
            if (cartItem.length > 0) {
                $("#ErrorMsg").removeClass("invisible").addClass("text-danger visible");
                $("#ErrorMsg").append('<label>Item already in Cart</label>');
                $("#ErrorMsg").delay(3000).queue(function (n) {
                    $(this).removeClass("text-danger visible").addClass("invisible");
                    n();
                });
                return;
            }

            cartItem = $('#tblCart tbody')
                .append($('<tr>')
                    .attr({ 'data-client-risk-id': clientRiskId })
                    .append($('<td>').html(description))
                    .attr({ 'data-description': description })
                    .append($('<td>').html(coverType))
                    .append($('<td>').html(sumInsured))
                    .append($('<td>')
                        .append($('<a>')
                            .attr('href', '#')
                            .append($('<span>&minus;</span>').addClass('btn btn-danger btn-sm float-right'))
                            .click(function () {
                                // Delete Cart from Database: DELETE /api/Carts/{id}
                                DeleteCart(clientRiskId);
                        })
                    )
                )
            );
            ResetBtnCreatePolicy();
        }

        function GeneratePolicy() {

            //  Build Policy Arrat to match model class Policy
            var policy = {
                Id: policyId,
                PortfolioClientId: portfolioClientId,
                PolicyNumber: 0,
                InsurerPolicyNumber: '',
                PolicyTypeId: $('#PolicyTypeId option:selected').val(),
                RunDay: $('#RunDay').val(),
                PaymentMethodId: $('#PaymentMethodId option:selected').val(),
                ClientBankAccountId: '@Guid.Empty',
                InsurerId: $('#InsurerId option:selected').val(),
                CoverStartDate: $('#CoverStartDate').val(),
                CoverEndDate: $('#CoverEndDate').val(),
                InceptionDate: $('#CoverStartDate').val(),
                PolicyStatusId: $('#PolicyStatusId option:selected').val(),
                SalesTypeId: $('#SalesTypeId option:selected').val(),
                Comment: $('#Comment').val()
            }

            if (policyRisks) {

                PolicyObject = {
                    ClientId: clientId,
                    Policy: policy,
                    PolicyRisks: policyRisks,
                    AllRisks: allRisks,
                    Contents: contents,
                    Houses: houses,
                    Motors: motors,
                    RiskItems: riskItems
                }

                $.ajax({
                    url: '@(Url.Action("PostPolicy"))',
                    type: "POST",
                    dataType: "json",
                    data: { policyObject: PolicyObject },
                    error: function (xhr, status, error) {
                        alert("An error has occured." + error);
                    },
                    success: function (data) {
                        // Empty tblCart.
                        policy.empty();
                        policyRisks.splice(0, policyRisks.length);
                        allRisks.splice(0, allRisks.length);
                        contents.splice(0, contents.length);
                        houses.splice(0, houses.length);
                        motors.splice(0, motors.length);
                        riskItems.splice(0, riskItems.length);
                        PolicyObject.splice(0, PolicyObject.length);
                        window.location.reload();
                        $('#Message').append('<p class="fw-bolder text-center text-danger">Policy created!</p>');
                    }
                });
            }
        }

        function DeleteCart(clientRiskId) {

            if (clientRiskId) {
                var cartItem = $('#tblCart').find('tr[data-client-risk-id=' + clientRiskId + ']');
                cartItem.remove();

                if (allRisks.length != 0) {
                    allRisks = allRisks.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (contents.length != 0) {
                    contents = contents.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (houses.length != 0) {
                    contents = houses.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }

                if (motors.length != 0) {
                    motors = motors.filter(function (obj) {
                        return obj.Id !== clientRiskId;
                    });
                }
            }
            ResetBtnCreatePolicy();
        }
    </script>
}

