@model IEnumerable<PolicyViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Guid portfolioClientId = Model.FirstOrDefault().PortfolioClientId;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-portfolioClientId="@portfolioClientId">Create New</a>
</p>
@if(Model.Any())
{
    <table id="tblPolicy" class="table">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PolicyNumber)</strong>
                </th>
                <th>
                    <strong></strong>
                    @Html.DisplayNameFor(model => model.InsurerPolicyNumber)
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.CoverStartDate)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.CoverEndDate)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.InceptionDate)</strong>
                </th>
                <th>
                    <strong>Insurer</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PaymentMethod.Name)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PolicyStatus.Name)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.PolicyType.Name)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.SalesType.Name)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsurerPolicyNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoverEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InceptionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InsurerBranch.Insurer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesType.Name)
                    </td>
                    <td class="justify-content-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                                <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <p>No recordss</p>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#tlbPolicy').DataTable();
        });
    </script>

}