@model IEnumerable<QuoteResource>

<div class="card mb-3">
    <div class="card-body">
        <h6 class="card-title mb-3">Quotes</h6>
        @if (Model.Any())
        {
            <table id="tlbQuote" class="table table-sm py-2">
                <thead>
                    <tr>
                        <th>
                            <strong>Number</strong>
                        </th>
                        <th>
                            <strong>Date</strong>
                        </th>
                        <th>
                            <strong>Status</strong>
                        </th>
                        @*<th>
                            <strong>@Html.DisplayNameFor(model => model.Insurer)</strong>
                        </th>
                        <th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.QuoteNumber
                            </td>
                            <td>
                                @item.QuoteDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.QuoteStatus
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Insurer)
                            </td>
                            <td class="justify-content-center">
                                <a asp-controller="Quotes" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-controller="Quotes" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-dark rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Quotes" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                                        <li><a class="dropdown-item" asp-controller="Quotes" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Print</a></li>
                                        <li><a class="dropdown-item" asp-controller="Quotes" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                    </ul>
                                </div>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
