@model IEnumerable<BankBranchResource>

@{
    ViewData["Title"] = "Index";
    var bankId = Model.GroupBy(r => r.BankId).FirstOrDefault().Key;
    var bankName = Model.GroupBy(r => r.BankName).FirstOrDefault().Key;
}

<h1>@bankName</h1>

<h4>Branches</h4>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-action="Create"><i class="far fa-plus-square"></i></a>
    </div>
</div>

@if (Model.Any())
{
    <table id="tblBankBranch" class="display">
        <thead>
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.SortCode)</strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.SwiftCode)</strong>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SortCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SwiftCode)
                    </td>
                    <td class="justify-content-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Print</a></li>
                                <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <caption>No Bank Branches.</caption>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblBankBranch').DataTable();
        });
    </script>
}